[2020-07-01 09:23] timoschilling commented on #2081
Is this the first deploy of that stack or an update deployment?

[2020-07-01 16:44] c2tarun commented on #2081
Usually this error indicates that there is some issue with the template. Please let us know if you need more help around this? We might need to take a look at your template for more info.

[2020-07-02 03:32] TJClifton90 opened #2084 "Sending request to locally hosted API results in Internal Server Error"
### Description

I have been unable to get SAM Local to work on Windows 10. I have followed the instructions [here](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-getting-started-hello-world.html) and attempts to interact with the locally hosted API or invoke my lambda functions manually result in the error attached below.

### Steps to reproduce

1. Foll

[2020-07-02 04:51] Gunt-r commented on #2081
Here is my template file

[code]

[2020-07-02 07:46] imti283 opened #2085 "cookiecutter.exceptions.RepositoryNotFound: A valid repository for "...." could not be found."
### Description

Issue while Init'ing cookiecutter as well non-cookiecutter github repo.

### Steps to reproduce

### Observed result

PS C:\Users\mdimtiya\Desktop\Scripts\LmbdaCIC\testy> sam --version
SAM CLI, version 0.53.0
PS C:\Users\mdimtiya\Desktop\Scripts\LmbdaCIC\testy>  sam init --location gh:awslabs/aws-sam-cli-app-templates --debug --name my-test-app1
Telemetry endpoint configured to be

[2020-07-02 09:46] rr83019 commented on #1963
+1 for not being able to create packages.

[2020-07-02 13:53] jfuss commented on #1975
@SumoSourabh SAR expects the `CodeUri.Bucket` to be a string. Mappings (or any other intrinsic functions) are only evaluated by AWS CloudFormation deploy (create-stack or update-stack). SAR can't evaluate them when the app is published and therefore must restrict this field.

In order to publish the app to SAR, you will need to remove the FindInMap to an S3 Uri. The easiest way to do this would be

[2020-07-02 13:53] #1975 closed

[2020-07-02 15:08] jfuss commented on #2084
@TJClifton90 You are using a docker version from 2017, have you tried upgrading that? From the error, it seems like you docker is incompatible with what SAM CLI needs to do.

[2020-07-02 16:57] pcolazurdo opened #2086 "Expose Docker error messages to SAM output"
I couldn't find anything specific like this problem
### Describe your idea/feature/enhancement

SAM CLI should have an option to expose Docker error messages directly into the console. I spent +1 hours trying to figure out an error that was reported like this:

[code]

I only found the issue when I run ```docker run -it --rm lambci/lambda:build-python3.7 ``` - With this, the problem was clear as I

[2020-07-02 17:55] c2tarun commented on #2081
So your template looks right to me, I copied your template and changed **CodeUri** and **Handler** of all the functions and deployment worked for me. Probably there is some handler missing or some typo in the name.

[code]

[2020-07-02 17:55] spalladino opened #2087 "Error when deploying an AWS::Serverless::Function with a Condition"
### Description

Adding a `Condition` field to a `AWS::Serverless::Function` causes `sam deploy` to fail with a Python type error.

### Steps to reproduce

Given the following template, abridged:

[code]

### Observed result

Running `sam deploy` yields the following error:
[code]

The full output using `--debug` is the following:
<details>
<pre>
Telemetry endpoint configured to be https://aws-ser

[2020-07-02 18:19] NathanYocum commented on #2087
Just saw a similar error with the `auth_per_resource` error that was solved by upgrading, can upgrade to v0.53.0?

[2020-07-02 18:30] spalladino commented on #2087
Yep, that fixed it. Thanks @NathanYocum!

[2020-07-02 18:30] #2087 closed

[2020-07-02 19:32] pedrosola opened #2096 "BUG: --guided flag on deploy fails to recognise inline and samconfig.toml parameters."
**Description:**
When using the `--guided` flag at deployment, SAM fails to consider the parameters specified both at the command line or at the `samconfig.toml` file.

**Steps to reproduce the issue:**
1. Create a sample SAM template, with one or more parameters.
2. Manually create a `samconfig.toml` file, or let SAM create it by running `sam deploy --guided` without deploying it.
3. Run `sam dep

[2020-07-02 21:51] beck3905 opened #2089 "Tags in samconfig.toml / guided deploy"
### Describe your idea/feature/enhancement

It would be nice if tags could be stored in samconfig.toml much like parameter-overrides are.  I often use the same tags every time I deploy my stack and it would be nice if I didn't have to remember to include them in the command every time.  If they were in the samconfig.toml file I woudn't have to worry about forgetting them or accidentally changing a

[2020-07-02 22:15] sriram-mv commented on #2089
You can do this today. Any parameter that is supported on normal Sam deploy is also supported in the configuration toml file.

[2020-07-03 08:05] kirnberger1980 commented on #1615
@benkehoe We also would like to have this functionality. As we are working in a Landing Zone where we do have staging accounts (DEV, TEST, PROD) for each product, we would like to deploy a SAM application via CICD with a separate samconfig.toml for each account.

[2020-07-03 11:21] plantusd opened #2090 "Please provide SAM installation method on Linux other than Homebrew"
### Describe your idea/feature/enhancement

I understand the installation solution for Mac OS, just can't rationalize pulling relatively big package management system on Ubuntu, just to install aws-sam-cli.

Is there any updates on this?

[2020-07-03 13:59] WinterYukky commented on #2067
I want this because I want to use the `aws-cdk`.
How about create a cfn_api_v2_provider?

[2020-07-03 14:52] jbesw opened #2091 "DefinitionUri for AWS::Serverless::StateMachine errors if it contains a - character"
Hyphen/dash character in DefinitionUrl causes error - error message does not indicate this is the problem.

### Description

Deploying a template with a Uri like this:

[code]
...causes the error "Property validation failure: [Encountered unsupported properties in {/}: [DefinitionUri]]" Removing the dash, it deploys correctly.

### Steps to reproduce

Deploy a state machine with a dash in the Defi

[2020-07-03 14:52] jbesw opened #4615 "DefinitionUri for AWS::Serverless::StateMachine errors if it contains a - character"
Hyphen/dash character in DefinitionUrl causes error - error message does not indicate this is the problem.

### Description

Deploying a template with a Uri like this:

[code]
...causes the error "Property validation failure: [Encountered unsupported properties in {/}: [DefinitionUri]]" Removing the dash, it deploys correctly.

### Steps to reproduce

Deploy a state machine with a dash in the Defi

[2020-07-03 15:33] benkehoe commented on #1615
To be clear, I think SAM CLI should support both configuring the "env" that selects content from within the `samconfig.toml` file, and configuring the location of the `samconfig.toml` file itself. One possibility is that, [like the AWS CLI](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html#envvars-list), the config file location would only be configurable through an envir

[2020-07-04 05:20] xl2wang opened #2092 "Cannot define Domain under AWS::Serverless::Api"
### Description

Domain under SAM AWS::Serverless::Api stopped working. My SAM was deployed successfully on June 28th. The same template cannot pass validation now.
Getting error while running sam validate -t template.yml
error:
property Domain not defined for resource of type AWS::Serverless::Api

### Steps to reproduce

  myApi:
    Type: AWS::Serverless::Api
    Properties:
      Domain:

[2020-07-04 06:19] #2092 closed

[2020-07-04 06:19] xl2wang commented on #2092
Fixed by updating SAM CLI to the latest version

[2020-07-04 07:55] lukepopp opened #2093 "SAM CLI Template Switch -T causes class not found error (does not have permission information)"
### Description

SAM CLI Template Switch -T causes class not found error due to permissions errors

### Steps to reproduce

WORKS:  sam local start-api --debug
FAILS:  sam local start-api --template template.yaml --debug

### Observed result

When the -T flag is specified, "does not have permission information" is repeated per file in the jar in the console.

uecompressing test-sam/sam-app/HelloWo

[2020-07-05 05:14] jackcholt opened #2094 "Installation of Python via linuxbrew conflicts with linux mint blueberry"
### Description

Using Linux Mint 20, the bluetooth setting widget (Blueberry) uses the Python3.7 that is installed by default.  Installing AWS SAM CLI via linuxbrew overrides the default install of Python3.  This causes the Blueberry widget to fail to load.  If you run "blueberry" at the command line, you receive the Python error message "ModuleNotFoundError: No module named 'gi'".

I tried "brew

[2020-07-05 13:51] ronaldour commented on #2026
I still would like to be able to skip the layer validation on the build. In our case we are trying to fetch the latest version of the layer (due to the lack of a LATEST version tag on the layers), so we tried using a CloudFormation parameter of type AWS::SSM::Parameter::Value<String> or a macro to achieve that but neither of those resolve when doing `sam build` so that is a little bit disappointin

[2020-07-06 14:58] misk0 commented on #896
I'm willing to help to develop this part but I don't think I can do it by myself. If anyone else is willing to help maybe we can do something..

[2020-07-06 16:08] c2tarun opened #2095 "RC1 failing local invoke for Node12."
### Description

`sam local invoke` fails for nodejs12 project with following error:

[code]

### Steps to reproduce

1. `sam init` a node12 project.
2. `sam local invoke` in that project.

### Observed result

[code]

### Expected result

Describe what you expected.

### Additional environment details (Ex: Windows, Mac, Amazon Linux etc)

1. OS: macOS Catalina
2. `sam --version`: SAM CLI, version

[2020-07-06 16:23] awood45 commented on #2095
The issue here is that on OSX, Docker by default can mount the following folders:

[code]

The Homebrew install path is not covered in these permissions, hence the issue (and also how it skipped past all testing before release).

[2020-07-06 18:16] edcu11 commented on #909
Just as a side note: I ran into this issue last week (7/4/2020), updating docker worked for me.

[2020-07-06 18:40] beck3905 commented on #2089
@sriram-mv Is that mentioned in the documentation anywhere?  I looked but couldn't find anything.  I even looked at the source code and didn't see anything in there that supported this.

[2020-07-06 21:07] PaulMaas commented on #1027
This seems to be supported in SAM, but not in SAM-CLI. Is that correct? Is there a resource that shows what SAM-CLI can and can't do with respect to SAM? I spent hours trying to get GatewayResponses to work locally with SAM-CLI...

Are there plans to add support for this to SAM-CLI?

[2020-07-07 09:47] drissamri commented on #2095
I've added /usr and the homebrew path directly but this does not seem to help?
Then the error changes to `urllib3.exceptions.ReadTimeoutError: UnixHTTPConnectionPool(host='localhost', port=None): Read timed out. (read timeout=60)`

[2020-07-07 10:23] rv2673 commented on #299
@jfuss or others? Is this in the aws sam cli roadmap at all? This issue is more then 2 years old, had contributing PR that was rejected, so is it being worked on at all?

[2020-07-07 11:40] kirnberger1980 commented on #1615
From our personal perspective we would like to configure the location of samconfig.toml , since we would use a separate git repo where we want to place the samconfig.toml of the environment (dev1, dev2). So the support to configure an env section inside of the samconfig.toml is not neccessary in our use case.

[2020-07-07 20:26] c2tarun commented on #2081
@Gunt-r  were you able to fix your issue?

[2020-07-08 14:11] dschu-lab opened #2099 "Installation immediately broken on macOS 10.15.5"
### Description

Hi! I'd really like to get started with AWS SAM, but I'm unable to get the cli to work on my machine.

### Steps to reproduce

[code]

### Observed result

Installation is broken immediately

### Expected result

Get something like `SAM CLI, version 0.52.0`

### Additional environment details (Ex: Windows, Mac, Amazon Linux etc)

1. OS: macOS 10.15.5
2. `sam --version`: Nothing

[2020-07-08 14:47] Poisoned commented on #2099
@dschu-lab Had the same problem today after doing `brew upgrade` which upgraded my Python to v3.8.3_1. I think AWS SAM still refers internally to Python 3.7, what helped me was `brew link python 3.7.8`.

I hope this helps.

[2020-07-08 14:48] ns408 commented on #2099
I can confirm the above.

[code]

[code]

[2020-07-08 15:04] ns408 commented on #2099
This worked for me. I have both python@3.7 and python@3.8 installed using brew on my system.

[code]

[2020-07-08 15:08] dschu-lab commented on #2099
Thank you! This was the fix I was looking for! Horray! 🥳

[2020-07-08 15:08] #2099 closed

[2020-07-08 16:19] awood45 commented on #2095
If you add the path to Docker's shared folders, that workaround should be valid and worked for all of us. That said, it's not a long term solution to ask everyone to open up their Homebrew paths, so this will be fixed before `1.0.0`.

[2020-07-08 16:21] awood45 commented on #2095
@drissamri I haven't seen that error before - I think the solutions being worked on will prevent that as well, but what did you change and what command did you run where you saw that?

[2020-07-08 19:05] cmccoypdx opened #2101 "Homebrew install/upgrade on MacOS breaks sam-cli"
### Description

On an upgrade or new installation of `aws-sam-cli` via homebrew, `sam --version` (and any other sam commands) fails with the error

`dyld: Library not loaded: @executable_path/../.Python
  Referenced from: /usr/local/Cellar/aws-sam-cli/0.53.0/libexec/bin/python3.7
  Reason: image not found`

This seems to have something to do with homebrew upgrading Python3 to version 3.8 on any u

[2020-07-08 19:37] kgc00 commented on #2101
is there anyway to use a previous version of aws-sam-cli until this is fixed? it seems like only the latest version is available via homebrew

[2020-07-08 22:59] jfuss commented on #2101
There is a workaround provided here: https://github.com/aws/homebrew-tap/issues/93

Specifically: brew install --build-from-source aws-sam-cli. This will not use the bottle. This will however take much longer to install.

[2020-07-08 23:15] cmccoypdx commented on #2101
Thanks for the workaround, I'm back in business.

[2020-07-08 23:16] #2101 closed

[2020-07-09 13:16] dmitry-weirdo commented on #1499
In case of not using `-u` option for `sam build` (which takes ages to build) and using a local Python 3.6,
for the same error I ran
`pip install wheel`
and
`pip install cryptography`
, and `sam build` is finally working.

[2020-07-09 14:29] drissamri commented on #2095
I upgraded (and now downgraded back to previous version) and ran `sam local invoke` again. First I got the `Mounts denied` exception and after added extra shared paths in docker the timeout popped up.

I didn't dive in too deep since I was prepping for a presentation, so was easier to downgrade first :)

[2020-07-09 15:21] beck3905 commented on #1845
@c2tarun I am still experiencing hangs in my CI/CD environment due to long tags.  It works eventually on my OSX terminal, but on my CircleCI environment it hangs and the job times out.  Even in my OSX terminal, it takes 6+ minutes from when I start the `sam deploy` command and it prints the telemetry blurb until I see the following output printed to the terminal: `Deploying with following values`.

[2020-07-09 15:49] heretogo commented on #896
+1 Following.

[2020-07-09 16:17] c2tarun commented on #1845
@beck3905 Can you please share a sample tag similar to what you are using, 6+ minutes on OSX is still too long and we should address it. I want to test with your tag once.

Thanks
Tarun

[2020-07-09 16:25] beck3905 commented on #1845
@c2tarun These are similar to the tags entry in my samconfig.toml.  In particular, the `Name=repository-branch-network-infrastructure` tag is the one that I have experimented with for length.

[code]

[2020-07-09 16:26] beck3905 commented on #1845
I went back to version 0.41.0, which was the last version before any of the regex stuff was added and everything is working great and quick with that version.

[2020-07-09 20:37] kmeelu commented on #1854
Hi, is there a release ongoing? Our CircleCI pipeline (which uses [`aws-serverless/install`](https://circleci.com/orbs/registry/orb/circleci/aws-serverless#commands-install)), is failing on that step:

[code]

Looking at the releases, it seems like there was a [pre-release candidate](https://github.com/awslabs/aws-sam-cli/releases/tag/v1.0.0rc1) but no update since. Is that correct?

[2020-07-09 21:03] gnestor commented on #1460
This is still an issue in sam cli 0.53.

template.yml:

[code]

function.js:

[code]

Post requests to my production endpoint returns a `Cross-Origin Request Blocked: ... CORS header ‘Access-Control-Allow-Origin’ missing` error despite returning those headers in the function code.

[2020-07-10 01:50] jfuss commented on #1854
@kmeelu We had an issue with our 0.53.0 bottles that were not installing correctly after Homebrew updated python from 3.7 to 3.8. We were addressing that earlier today. Everything should be fixed now. If you are still running into problem, please cut a new issue.

[2020-07-10 14:59] rfrad commented on #2064
Here is a work around:

I did manage to "force" the creation of the `CommonT` package by adding a resource **with the CommonT name** in my `template.yaml`.

Here is my new file:
[code]

Then, when `sam build` creates the `.aws-sam` package, it starts by creating the folder `CommonT` for the resource with the same name. And it is then used as the common project as well.

It is dirty... but it allow

[2020-07-10 16:18] Hiskrtapps commented on #2001
I have the same problem (and all my colleagues have too).
Maybe it is connected to this: https://github.com/aws/aws-toolkit-jetbrains/issues/1473#issuecomment-601320805
Can we reopen the issue?

[2020-07-10 21:01] awood45 commented on #2095
This is fixed in `1.0.0rc2`, closing.

FWIW, glad you were able to move back to `0.53.0` successfully. We're working on avoiding this type of edge case getting through our tests again, but the possibility was why we made this opt-in/`--pre` and we appreciate you testing it and letting us know what you saw. Hopefully you're able to try `1.0.0rc2` and find the problems resolved for good.

[2020-07-10 21:01] #2095 closed

[2020-07-11 19:47] amanvishnani commented on #1974
Running `sudo apt install python3-pip` worked for me.

[2020-07-12 08:50] alex-nishikawa commented on #901
For local development I remove the .aws-sam build folder:
[code]

I do watch for typescript compilation

[2020-07-13 09:32] Poisoned commented on #2099
And if it happens again because python 3.7 is no longer available then there is a workaround:
https://github.com/aws/homebrew-tap/issues/93

`brew install --build-from-source aws-sam-cli`

[2020-07-13 15:52] ratajczak commented on #947
I just run in to this when I tried to debug lambda with layers locally.
It's really disappointing that this is already open for 18 months...

The minimum what should be done asap is to add this issue reference to this page:
https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-using-debugging-python.html

And clearly state that debugging with layers does

[2020-07-13 22:06] hyphen1370 opened #2106 "WSL 2 with Docker"
Hello,

I tried to install AWS SAM CLI to Ubuntu 20.04 as WSL 2 machine. It failed with following error:

error while loading shared libraries: libpython3.7m.so.1.0: cannot open shared object file: No such file or directory

The environment is docker desktop installed with WSL 2 integration turned on and enable to access docker via WSL 2 machine. The OS is Windows 10 2004

When I tested the instal

[2020-07-14 10:41] 13125381 commented on #2065
I have this exact same issue on the same OS :(. Is there a fix on its way?

[2020-07-15 05:11] conork-datacom commented on #1786
Any update on this?
I get the following error when synthesizing a CDK template to be consumed by AWS SAM with Powershell via VSCode (on Win10)

`Error: Failed to parse template: unacceptable character #x0000: special characters are not allowed
  in "<unicode string>", position 3`

Works fine running the same commands in command prompt

[2020-07-15 10:38] sebsto commented on #1367
@fabianfett if you closed this because you have a solution, can you post the solution here ? Thanks

[2020-07-15 17:08] chasedenecke commented on #1390
Setting the AWS_REGION fixed the issue for me. For some reason my region was defaulting to us-east-1 even though I'm specifying us-west-2 in my config file. I had to set it to us-west-2 in the env file I passed to "sam local invoke".

`{
  "MyLambda": {
    "ENVIRONMENT": "dev",
    "ES_REGION": "us-west-2"
  }
}`

[2020-07-15 17:52] theholy7 commented on #794
Any updates on this issue? How have people installed private packages into their lambdas?

[2020-07-15 18:31] rts-rob opened #2108 "HTTP API documentation inconsistency"
**Description:**

Building an AWS SAM application I found what seems to be an inconsistency between the docs and the AWS SAM CLI behavior.

On [this page of the docs](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-resource-httpapi.html#sam-httpapi-definitionuri) it says:

When I attempt to define an HTTP API using the _DefinitionUri_ key and a local filename as

[2020-07-15 18:54] jfuss commented on #2108
We have a PR open for this: #1996

[2020-07-15 19:35] sriram-mv commented on #2046
``
 I am able to run successfully with jar file inside container, and had to mount "/tmp:/tmp" for this to work.
``

This is interesting, the tmp folder is only used for bringing artifacts required for debugging with local invoke.

[2020-07-15 19:39] sriram-mv commented on #2056
This is the mechanism we have in place currently to change paths:

https://github.com/awslabs/aws-sam-cli/blob/ee91629e289eaa634809e6d691ce701426bab318/samcli/local/docker/utils.py#L11

We look at the os.name, but clearly on windows it looks like you could be operating in the WSL or in a normal windows prompt, wonder if python exposes something that we can look at.

[2020-07-15 19:41] sriram-mv commented on #2059
Were you able to setup `sam local start-lamba` ? This would allow you to call into lambda locally.

[2020-07-15 20:05] mndeveci commented on #2061
Hi Ronaldo,

Thanks for bringing this up. We are definitely aware of that is a pain point for our customers. As of now, build cleans everything and starts from scratch. And we would like to hear your ideas, so if you can compile a design document, we would be happy to review it for future works.

Thanks

[2020-07-15 20:31] sriram-mv commented on #2065
https://github.com/awslabs/aws-sam-cli/blob/23212ef827a105d23339712adc9422c6cc55e12c/samcli/lib/providers/sam_base_provider.py#L161 seems to be the line in question.

This behavior is intentional, even with AccountId being dummy ones instead of inferencing from local creds. Is it just region that seems to be causing this issue or any other intrinsics as well?

[2020-07-15 23:29] blmayer commented on #2059
Yes I set that up, but same behaviour, the first lambda is called locally, but it calls the second lambda of the AWS cloud.

[2020-07-16 03:30] NathanYocum commented on #2065
`AWS::AccountId` seems like it works fine so it might just be an error with AWS::Region -- which I think the translator has some logic to transform the Resource in the on_before_transform when AWS::Region is provided

[2020-07-16 04:41] NathanYocum commented on #2065
Just kidding switching it to:
[code]
fails but with `samcli.commands.validate.lib.exceptions.InvalidSamDocumentException: [InvalidResourceException('SAMBuildSAR', "Property 'ApplicationId' cannot be resolved. Only FindInMap and Ref intrinsic functions are supported.")] ('SAMBuildSAR', "Property 'ApplicationId' cannot be resolved. Only FindInMap and Ref intrinsic functions are supported.")`

[2020-07-16 05:22] NathanYocum commented on #2065
https://github.com/awslabs/serverless-application-model/blob/develop/samtranslator/plugins/application/serverless_app_plugin.py#L129 seems to be where the ApplicationId transformed to `us-east-1` is occurring in the `on_before_transform`.

The dict of params passed into the translator transforms `['SAMBuildTest', {'Ref': 'AWS::Region'}, 'ApplicationId'], ['SAMBuildTest', {'Ref': 'AWS::Region'}, 'S

[2020-07-16 09:13] pcolazurdo commented on #2086
Just to add some details: I've been researching how this errors could be exposed in SAM and it seems there is an underlying issue with how this information is surfaced through the docker API - I've commented on [issue](https://github.com/docker/docker-py/issues/2503) to see what recommendations we get from the Docker team.

[2020-07-16 10:27] liszi commented on #1470
It's a must have.
We need to use a bunch of nasty workarounds to fix this problem.
+1 to implement this feature.

[2020-07-16 11:23] winedrinker commented on #1470
+1

[2020-07-16 13:04] rajanpanchal commented on #1701
This is also a problem when doing automated deployment using GitHub actions

[2020-07-16 15:29] gideon-maina commented on #1252
If you don't want to deal with all the package issues do this

1. create a codebuild role for the build stage
2. give that role the necessary permissions for Lamda, IAM, S3 and whatever else your function needs
3. then in your buildspec include `sam build` and `sam deploy` in the list of commands

[2020-07-16 15:34] sebsto commented on #1641
Is this supposed to be fixed ?
I can still reproduce this

[code]

[2020-07-16 17:50] ghost opened #2419 "sam package and sam build refer to different locations for layers"
**Description:**
While working with SAM to build a serverless app using both functions and layers locally appears to refer to different locations
depending on if I am building or deploying.

It appears that when you do `sam build` it copies your `CodeUri` content to a tmp dir and exposes `$(ARTIFACTS_DIR)`. Which is a pointer to `$PWD/.aws-sam/build/<logical-resource-id>` . However, when you run `

[2020-07-16 19:05] ericljiang commented on #1278
It's very easy to miss this in the docs. It makes me wonder if it's correct for CodeUri to be reused for two slightly different meanings. A downside is that I can't use the same sam template for multiple build methods. If I want to build with sam, I need to reference the source files; if I want to build outside of sam, I need to change my template to reference the compiled artifact.

[2020-07-16 22:13] anvar opened #2110 "Hash during package uses absolute paths"
### Description

I noticed that the code used to compute the hash for a lambda CodeUri hash uses the absolute filepath when calculating the hash [1]. This has some potentially uninteded consequences when running on a build farm such as CodeBuild as the build directory is ephemeral and changes between each build. This results in the lambda function being deployed every time, even when nothing has c

[2020-07-17 07:04] alex-nishikawa commented on #420
Another one to allow: `cloudformation:DescribeStackEvents`, not to be confused with `DescribeStacks`

[2020-07-17 09:33] maxim-lobanov commented on #1424
+1 for this issue.

Both available options are not convenient for using in CI/CD systems and local usage:
- Brew on Linux is uncommon and unpopular and installing brew only for this single tool looks overcomplicated
- Pip installation is not ideal too because it depends on pre-installed Python and brings additional dependencies / packages.

I think you should take over experience of AWS CLI V2 and

[2020-07-17 12:56] Gunt-r commented on #2081
Yes I was. It turns out that the program `Failed to create changeset for the stack` because of a corrupted file within the build location of AWS SAM. The corrupted file could not be deleted (all files are deleted and overwritten when updating a build), and as a result, the changeset could not be created/updated. I have documented the error more thoroughly [here.](https://github.com/awslabs/serverl

[2020-07-17 12:56] #2081 closed

[2020-07-17 13:37] tobiasfeil commented on #49
Thank you for being the only person on the internet who informs me about this! Why isn't this in the docs??? Not to mention why it's even necessary, which in itself is questionable, but now that it's necessary, please put it in the docs at least. Just wasted me 45mins and I'm probably not the only one

[2020-07-17 14:10] brandonryan commented on #2067
That would be fine too.

[2020-07-17 20:45] c2tarun commented on #2015
@f-w Can you please explain what do you mean by `Per-invocation variations shouldn't be saved in it`?

I tried invoking `sam deploy --stack-name test2` while my samconfig.toml have stack name as `test1`. Sam deploy did deploy with new stack name bug samconfig.toml was not updated for that invocation.

[2020-07-17 20:52] f-w commented on #2015
@c2tarun, if instead I run `sam deploy -g` and specify `test2` at prompt, then `test2` will be written to `samconfig.toml` overwriting the version controlled default one. This is what I want to avoid.

[2020-07-17 21:09] c2tarun commented on #2073
Hi @swamigmv,

Can you please share your template with us? I tried same thing and it worked for me. Please see my logs below:

[code]

My `templates/new-template.yaml`:

[code]

[2020-07-17 21:18] c2tarun commented on #2096
Hi @pedrosola ,
Can you please share a sample of the way you are passing parameter_overrides in samconfig.toml? I tried following approach and it worked for me.

`parameter_overrides = "Key1=\"Value1\" Key2=\"Value2\""`

Thanks
Tarun

[2020-07-17 22:02] c2tarun commented on #2015
@f-w Can you please explain me your use case in more detail? `sam deploy -g` is expected to be used only when you don't have a guided config. Once you have a config, you can simply override parameters of config by passing them via CLI.

[2020-07-17 22:35] sriram-mv commented on #2110
Definitely open to getting a PR on this, relative path seems to make sense :)

[2020-07-17 22:36] f-w commented on #2015
@c2tarun, I perceive `sam deploy -g` as the "default" way to run `sam deploy` as it is documented in [getting started tutorial](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-getting-started-hello-world.html) as well as other places for newbies. There is no place saying only use it when you don't have a guided config. In fact it work when `samconfig.toml`

[2020-07-17 23:50] anvar commented on #2110
Okay, great. Just thought I would check before setting up a local dev environment. Will submit shortly!

[2020-07-18 00:10] c2tarun commented on #2015
Thanks @f-w for providing that feedback, we will work on fixing our documentation to remove this confusion. I'll try to explain a bit here though.

As you already know `sam deploy --guided` generates `samconfig.toml` file. Our intention with `guided deploy` is for developers to use it first time to setup that config. Once that config is setup one should deploy simply by using `sam deploy` command.

[2020-07-18 00:10] #2015 closed

[2020-07-18 00:40] mndeveci commented on #2093
I confirm that issue happens on OSX as well. Steps to re-produce;

1- Init a basic SAM java app (HelloWorld)
2- Run `sam build`
3- Run `sam local start-api --template template.yaml --debug`
4- curl or open browser to test the URL

It is going to error out;
[code]

Running with `sam local start-api --debug` succeeds without any error.

[2020-07-20 03:02] adrian-skybaker commented on #1272
FYI, despite having no issue with the telemetry collection, I've just disabled this in our Azure Devops pipeline purely to suppress the message prompt that spammed the logs every pipeline execution. The persistence mechanism seems unlikely to work well in CI/CD envs which ensure clean agents.

[2020-07-20 05:40] milesgranger opened #2114 "Python: Extend and/or override EXCLUDED_FILES"
### Describe your idea/feature/enhancement

It appears [the EXCLUDED_FILES is hardcoded to a set list.](https://github.com/awslabs/aws-lambda-builders/blob/develop/aws_lambda_builders/workflows/python_pip/workflow.py#L21)

It would be delightful if this could be extended/modified.

### Proposal

Add configuration ability to override or extend with existing `.gitignore` or with own list

[2020-07-20 07:46] milesgranger opened #2115 "Python: Don't fail on missing `requirements.txt`"
### Describe your idea/feature/enhancement

If a particular function code uri doesn't contain a `requirements.txt` it should assume that there are no dependencies.

### Proposal

Don't raise an error like this:
[code]

Assume that a non-existing `requirements.txt` means there are simply no dependencies for this function. Otherwise one needs to have empty `requirements.txt` files laying around.

[2020-07-20 13:06] elenasch commented on #978
Agree with many of the above comments regarding usability of `sam` commands, and want to point out that the documentation issue _isn't fixed._ Nowhere in the `package` documentation does it say not to use `--template-file` param in order to pickup artifacts built by `build` command. Additionally the output from `sam package --s3-bucket lambda-poc --s3-prefix dev --output-template-file packaged-tem

[2020-07-20 13:37] luchees commented on #2018
I'm still experiencing this issue. I've tried several combinations mentionned in the issues but none of them worked for me
"Key1=rate(1 hours)" "Key2=someValue"
"Key1='rate(1 hours)'" "Key2=someValue"
"Key1='rate(1\ hours)'" "Key2=someValue"
"Key1='rate(1\ hours)'" "Key2=someValue"
"Key1=\"rate(1 hours)\"" "Key2=someValue"

[2020-07-20 15:50] sriram-mv commented on #2084
definitely seems like an older version of the docker, thats the culprit. Closing the issue, feel free to reopen if you are still seeing this after upgrading docker version.

[2020-07-20 15:50] #2084 closed

[2020-07-20 15:52] sriram-mv commented on #2096
As @c2tarun mentions, this should work, please try the suggested approach and re-open if neccesary.

[2020-07-20 15:52] #2096 closed

[2020-07-20 15:57] sriram-mv commented on #2115
There is an expectation of a manifest when building from `aws-lambda-builders`, and an empty requirements.txt when using just included libraries is part of the contract, across languages.

[2020-07-20 16:09] sriram-mv commented on #1836
Support in manylinux wheels is in the works: https://github.com/awslabs/aws-lambda-builders/commit/09f837ea4626cd076ab1f527e2bec8a12de57c90

Closing the issue for now, as the original dependency now builds.

[2020-07-20 16:09] #1836 closed

[2020-07-20 16:14] sriram-mv commented on #1740
This is the guide for the go debugging: https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-using-debugging-golang.html

[2020-07-20 16:29] sriram-mv commented on #2090
Closing this issue as its already documented ask: https://github.com/awslabs/aws-sam-cli/issues/1424

[2020-07-20 16:29] #2090 closed

[2020-07-20 16:30] sriram-mv commented on #1994
Closing this issue, feel free to re-open it, if you are still facing the issues.

[2020-07-20 16:30] #1994 closed

[2020-07-20 16:48] sriram-mv commented on #2077
sam build copies the source code to a separate location to provide more stability and isolation to the build process. There needs to be some though on how to handle relative paths/dependencies in general.

[2020-07-20 17:00] pbecotte commented on #1424
At a minimum- just document that the pip package exists? I am a python developer- overwriting my system python using homebrew is not an option. However, I _do_ know how to install python packages without messing up my global package space. I figured out the pypi package name and installed this just fine- but would have saved a bunch of steps if it was just listed in the docs with whatever warnings

[2020-07-20 18:20] dan-mba commented on #2014
There is a  PR #2116 that will incorporate the updated Lambda Builder release into SAM

[2020-07-20 21:49] jfuss commented on #2115
duplicate of #784

Closing

[2020-07-20 21:49] #2115 closed

[2020-07-20 22:19] sriram-mv commented on #2011
Seems like permission issues on the folder itself, that is mounted within docker. Try adding additional permissions to the files that are mounted within.

[2020-07-20 22:21] #1974 closed

[2020-07-20 22:23] sriram-mv commented on #1925
https://github.com/awslabs/aws-sam-cli/pull/1968 this should have fixed this, closing this issue, re-open if you are still seeing this.

[2020-07-20 22:23] #1925 closed

[2020-07-20 22:31] sriram-mv commented on #1676
Closing as support for manylinux2010 wheels will be in the next release as its part of aws lamba builders 1.0.0

[2020-07-20 22:31] #1676 closed

[2020-07-20 22:46] sriram-mv commented on #1099
This has now been released, closing.

https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/building-custom-runtimes.html

[2020-07-20 22:46] #1099 closed

[2020-07-20 22:48] sriram-mv commented on #1014
Have you tried setting permissions on the codeuri and layer folders as well, and re-tried it?

[2020-07-20 22:50] JackKelly-Bellroy commented on #2077
Yeah, I understand the design goal. It does have some other negative implications: if you checked the linked issue from aws-lambda-haskell-runtime there's a comment about how it breaks any sort of build caching in compiled projects.

Spitballing:

* Doing the copy once, and then invoking `make` in the same tmpdir for each target would make it possible to reuse built `.o` files in the `CodeUri` dir

[2020-07-20 22:50] sriram-mv commented on #939
Looks like bundler may be writing to stdout during a failure, which is not captured

https://github.com/awslabs/aws-lambda-builders/blob/develop/aws_lambda_builders/workflows/ruby_bundler/bundler.py#L54

happy to accept a PR at lambda builders :)

[2020-07-20 22:53] #1659 closed

[2020-07-21 01:01] DKurilo commented on #188
I wrote some solution to make it working.
There are no answer in my PR, I don't know if it will be merged or at least commented, but you can pull my branch, build it with `make init` and to use it.
I did it to be able to debug app to work with images. As some test project I used this one:
https://github.com/DKurilo/hello-sam
You can try how it works with `sam` and with `samdev` that is built from

[2020-07-21 11:22] Barlog951 opened #2118 "Error building app with M2Crypto package"
I'm trying to create lambda function and I need to have M2Crypto package for that

when I run the command `sam build --debug --use-container`
I end up with this error

It looks like sam have problem build sdist version

Is there some workaround for this?

Thanks :)

[code]

[2020-07-21 13:55] mhart commented on #2069
Reopening as Python 3.8 changes are being rolled out and this will be an issue again.

TLDR; `/var/runtime/bootstrap` is no longer a Python file, as assumed by https://github.com/awslabs/aws-sam-cli/blob/380d64698fa24a898ac34f8f8644c9548dbf6211/samcli/local/docker/lambda_debug_settings.py#L140-L149

Until this is updated, any new python3.8 images will break debugging

[2020-07-21 15:22] ding44 commented on #332
+1 as a feature request.
Would be nice for `local invoke` to use the IAM role assigned to the Lambda function to the template to more accurately test permissions/policies locally.

[2020-07-21 16:49] mariaines commented on #1072
Hi there, any update on this? We are also running into this problem. Considering skipping `sam build` as @beck3905 suggested but we'd prefer to avoid that if possible.

[2020-07-21 20:07] tecklund opened #2120 "Brew issue - 1.0.0"
### Description

Failure to install aws-sam-cli

### Steps to reproduce

[code]

### Observed result

[code]

### Expected result

aws-sam-cli to install

### Additional environment details (Ex: Windows, Mac, Amazon Linux etc)

1. OS: Linux
2. It looks like the version numbers in the url do not align - 0.53.0 and 1.0.0

[2020-07-21 20:45] sriram-mv commented on #2120
Thanks for the report! This has been updated and should work now.

[2020-07-21 20:45] #2120 closed

[2020-07-21 21:07] jfuss commented on #2069
Fixed in the [1.0.0 release](https://github.com/awslabs/aws-sam-cli/releases/tag/v1.0.0).

Closing

[2020-07-21 21:07] #2069 closed

[2020-07-21 21:20] jfuss commented on #2014
This was released in [v1.0.0](https://github.com/awslabs/aws-sam-cli/releases/tag/v1.0.0).

Note: You will need to update pip to at least 19.3 to support manylinux2014 downloading, otherwise `sam build` will still fail.

Closing

[2020-07-21 21:20] #2014 closed

[2020-07-22 03:45] akornato commented on #1701
It's ridiculous it has been closed, @sriram-mv has completely missed the point of the issue.

[2020-07-22 07:11] Amr09 commented on #1701
I am trying to add my lambda script file (index.js) in Codeuri via local path i.e " Codeuri: . " but it still asking me to give s3 bucketpath is there anyway to give local path without involving s3?

Thanks

[2020-07-22 12:47] JamesDougherty commented on #1701
This is a little off topic for what this issue it about, but here is some information that will hopefully help you.

Let's say you're project structure is:

[code]

In your SAM template you can have the following:

[code]

When you run the "sam package ..." command the resulting output template, template.packaged.yaml as an example, will have the S3 bucket information in there for you. So if you h

[2020-07-22 12:53] BR0kEN- opened #2121 "Running `sam build --use-container` on Travis fails to download Docker image"
### Description

The `amazon/aws-sam-cli-build-image-python3.7` Docker image cannot be downloaded on Travis while running `sam build --use-container`. This issue doesn't happen on macOS Catalina (10.15.5) and Ubuntu Eoan (19.10).

The `docker pull amazon/aws-sam-cli-build-image-python3.7` works okay everywhere and if we download it explicitly in this way on Travis, the `sam build --use-container`

[2020-07-22 14:05] BR0kEN- commented on #2121
This is reproducible for at least two runtimes: `python3.7` and `node_js12.x`. See https://travis-ci.com/github/BR0kEN-/aws-sam-cli--build-travis/builds/176727250

[2020-07-22 14:19] BR0kEN- commented on #2121
This also happens on the latest Docker version available (for the moment of writing) - 19.03.12. See https://travis-ci.com/github/BR0kEN-/aws-sam-cli--build-travis/jobs/363867522.

[2020-07-22 14:46] BR0kEN- commented on #2121
The build that proves `docker pull` before `sam build` helps to "overcome" the problem. See https://travis-ci.com/github/BR0kEN-/aws-sam-cli--build-travis/builds/176733726

[2020-07-22 15:06] tobwiens commented on #2121
Hello,

hope to add some information to this issue because I am experiencing the same or very similar issue.

I tried a simple hello world example in the **Bitbucket pipeline** (Probably user mapping related issue) and get the following log output.

[code]

@BR0kEN- Can you try to put this command `docker run amazon/aws-sam-cli-build-image-python3.7 echo 'hello world'` into your Travis pipeline an

[2020-07-22 16:26] CoshUS commented on #2106
I wasn't able to replicate this issue. Can you describe the steps you have taken in detail?

[2020-07-22 16:48] therealjeffg opened #2122 "Emulate EFS locally by mounting a local filesystem"
### Describe your idea/feature/enhancement

I have a lambda function that needs to store short-lived pieces of data, things like token keys for api access or the most-recently-sent notification to an api to prevent spamming users with repetitive messages. This data needs to persist beyond the lifetime of the lambda function.

As I was exploring how to implement this, I read that AWS had recently a

[2020-07-22 22:16] marcosnils opened #2123 "Add support for single binary releases"
### Describe your idea/feature/enhancement

There are other python projects like [docker compose](https://github.com/docker/compose/releases) which already support single binary releases. The idea is to bring the same experience to SAM so it's easier to install and update for everyone.

I particularly am a Linux user and I wouldn't like to install brew to manage SAM.

### Proposal

Add the same re

[2020-07-22 22:19] styfle commented on #2069
I'm curious, is `AWS_LAMBDA_EXEC_WRAPPER` documented anywhere?

A google search finds only one result: this issue ☺️

[2020-07-22 22:26] mhart commented on #2069
It's not. It's new. And... that's all I can say about that for now 😆

[2020-07-23 08:15] BR0kEN- commented on #2121
I am afraid that is two different issues @tobwiens.

In this run https://travis-ci.com/github/BR0kEN-/aws-sam-cli--build-travis/jobs/363879074, you can find `docker pull "amazon/aws-sam-cli-build-image-$SAM_RUNTIME"` that downloads `amazon/aws-sam-cli-build-image-python3.7:latest`.

The problem I have in a nutshell:

- `sam build --use-container` doesn't work on Travis since 1.0.0.
- The explicit

[2020-07-23 08:30] BR0kEN- commented on #2121
I added the tests of `sam:0.53.0` to show the problem does not exist on that version. See https://travis-ci.com/github/BR0kEN-/aws-sam-cli--build-travis/builds/176831893.

[2020-07-23 09:36] tobwiens opened #2125 "Container ID 1230228 cannot be mapped to a host ID; aws-sam-cli-build-image-python3.7"
### Description
The initial error happens during `sam build --use-container` inside the Bitbucket pipeline:
[code]
In the Bitbucket pipeline I get following error output, when I run the command `docker run amazon/aws-sam-cli-build-image-python3.7 echo 'hello world'`.
[code]

### Steps to reproduce

Run `docker run amazon/aws-sam-cli-build-image-python3.7 echo 'hello world'` inside the bitbucket pi

[2020-07-23 09:37] tobwiens commented on #2121
@BR0kEN- Thank you your input. Yes it seems these are not related.

Opened a new issue here: https://github.com/awslabs/aws-sam-cli/issues/2125

[2020-07-23 10:08] BR0kEN- commented on #2121
@tobwiens did you try to reproduce the behavior outside CI service? I start thinking there may be a single root cause. Both I and you observed the error on CI (Bitbucket & Travis) and I didn't manage to reproduce it anywhere else.

[2020-07-23 11:19] tobwiens commented on #2121
@BR0kEN- Exactly the same in the Bitbucket cloud: Cannot be reproduced anywhere else.

I supposed that it is linked with:

I have setup a workaround image here: https://hub.docker.com/repository/docker/tobwiens/aws-sam-cli-build-image-python3.7-fix2125/general

I added `RUN chown -R root:root /var && chown -R root:root /THIRD-PARTY-LICENSES.txt` at the end of the docker file.
A search with `find /

[2020-07-23 13:29] tobwiens commented on #2125
The files with an id of 1230228 seem to come from the image `FROM amazon/aws-sam-cli-emulation-image-python3.7`.

[2020-07-23 13:46] tobwiens commented on #2125
Tried to setup a user mapping into a valid range with `echo "pipelines:1230228:65536" > /etc/subuid && echo "pipelines:1230228:65536" > /etc/subgid`

That didn't work.

Additionally tried to change permission by fixing images
https://hub.docker.com/repository/docker/tobwiens/aws-sam-cli-emulation-image-python3.7-fix2125
https://hub.docker.com/repository/docker/tobwiens/aws-sam-cli-build-image-pyth

[2020-07-23 15:06] shanesiebken commented on #1958
This seems to be broken again in `sam --version` 1.0.0. `sam build` is still working, but deploy fails with an SSM path for a layer arn.

[2020-07-23 17:41] mtttcgcg commented on #1872
Same error here - following the tutorial - the HandlerWrapper class isn't generated when running:
sam local invoke TestEntrypoint --event sam-tests/create.json

[2020-07-23 18:43] CoshUS commented on #1164
Same issue as https://github.com/awslabs/aws-sam-cli/issues/2031

[2020-07-23 20:26] CoshUS commented on #1248
Possible cause: "# 日本語" is stored as UTF-8 but template.yaml is being decoded with cp932 on a Japanese Windows.

Hex of "# 日本語"
- **UTF-8** 23 20 E6 97 A5 E6 9C AC E8 AA 9E
- **cp932** 23 20 93 FA 96 7B 8C EA

[2020-07-23 21:54] jduffy7 commented on #896
+1 Also need this.

[2020-07-23 22:31] kellyjosephprice commented on #2125
Seems to be effecting other runtimes, at least nodejs10.x:

[code]

[2020-07-24 02:31] tebruno99 commented on #1491
This is becoming more of a wide spread issue as we grow out our usage from using Makefiles to using the automated sam build.  Any updates?

[2020-07-24 07:32] pguerrero-divilo opened #2127 "Allow copy .gitignore files"
I would like to know If there is any possibility to tell **sam build** command to copy files that are excluded via .gitignore

[2020-07-24 07:32] #2127 closed

[2020-07-24 07:33] elefantelimpio opened #2128 "Allow copy .gitignore files"
I would like to know If there is any possibility to tell sam build command to copy files that are excluded via .gitignore

[2020-07-24 12:19] ljacobsson commented on #1843
Also finding this to be an issue

FYI - I'm using https://www.npmjs.com/package/@mhlabs/sam-sso-wrapper, but would be great with native support

[2020-07-24 16:07] heitorlessa commented on #1698
I am having the same issue though I was using a SSM Parameter to store Layer ARN.

**It seems that this issue can be reproduced if there is any `AWS::Serverless::Application` resource in the same template you reference a Layer using `!Ref`.** I've tried injecting a Layer ARN via SSM Parameter in another template that doesn't have an `AWS::Serverless::Application` resource and it works just fine.

[2020-07-24 16:26] benkehoe opened #2129 "Enable AWS SSO support by bumping boto3 to 1.14.x"
With version 1.14.0, boto3 added support for loading credentials cached by `aws sso login` with the AWS CLI v2. By bumping SAM CLI's pinned boto3 version, SAM can deploy using AWS SSO-authenticated users.

[2020-07-24 16:32] benkehoe commented on #1843
boto3 supports loading credentials cached by `aws sso login` as of 1.14.0. I opened an issue for updating the boto3 version SAM CLI uses as #2129

[2020-07-24 16:33] foibleless opened #2161 "CodeURI Not Defined for Resource Error - Invalid Property Label in Error"
**Description:**
When creating a template with an invalid CodeUri label, the error message does not display the correct case for the CodeUri property.  It states:

samcli.commands.validate.lib.exceptions.InvalidSamDocumentException: [InvalidResourceException('TextractTextDetectionJSONToTextFunction', 'property CodeURI not defined for resource of type AWS::Serverless::Function')] ('TextractTextDete

[2020-07-24 16:34] heitorlessa commented on #1698
I take it back - just did a fresh deployment and got hit by this when using SSM Parameter. **The issue comes from this [function in SAM CLI](https://github.com/awslabs/aws-sam-cli/blob/39add9acd0c7532129a6543134919eb6ae9df4f3/samcli/lib/providers/provider.py#L132)** - @sriram-mv

Issue here is that the OP and myself are passing a reference that will only be resolved in CloudFormation, therefore th

[2020-07-24 16:41] awood45 commented on #2129
PR #2113 was opened to do this for a different reason. I'm re-running the test suite against the latest `develop` branch changes, and if it looks good we can merge that today.

[2020-07-24 17:15] awood45 commented on #2129
New PR is #2130

[2020-07-24 17:28] awood45 commented on #2125
Raising this with the image owners, will share updates here.

[2020-07-24 17:34] tianchu commented on #2014
@jfuss This issue still persist with SAM CLI v1.0.0 when building with the `--use-container` option, because the SAM CLI built into `amazon/aws-sam-cli-build-image-pythonXX` docker images is still `0.53.0`.

**Steps to reproduce:**
[code]

[2020-07-24 17:39] tim-pugh opened #2131 "sam init workflow for layers"
### Describe your idea/feature/enhancement

The sam cli command ' sam init ' is a great workflow, and I think having an additional selection (besides just runtimes) would be for layers.

For example:

sam init
Which template source would you like to use?
	1 - AWS Quick Start Templates
	2 - Custom Template Location
Choice: 1

Which runtime would you like to use?
	1 - nodejs12.x
	2 - python3.8
	3 -

[2020-07-24 18:24] spuds51 commented on #1927
Have same issue (after running brew tap aws/tap), output ..

$ brew upgrade aws-sam-cli
Error: aws/tap/aws-sam-cli not installed

[2020-07-24 20:07] awood45 commented on #1916
What are you using this for - would simply adding a `--dry-run` flag for `sam build` cover this?

It's unclear what this is adding, some more context about how you would use this would be helpful.

[2020-07-24 20:10] awood45 commented on #1923
Closing as duplicate of #1271

[2020-07-24 20:10] #1923 closed

[2020-07-24 20:19] awood45 commented on #1938
We would happily accept a PR for this, otherwise it's on our list of UX issues to fix.

[2020-07-24 20:21] awood45 commented on #1940
Guidance to implementers: We should also accept states like `UPDATE_COMPLETE`, and behavior when the stack is in a bad state may have to be set to a helpful error message (if we auto-deleted there is a risk of deleting uploaded code).

[2020-07-24 20:25] awood45 commented on #1964
We have no current plans to add debugging support for individual custom runtimes.

We are looking at alternative approaches to solving this problem in general, but for now will be closing this issue.

[2020-07-24 20:25] #1964 closed

[2020-07-24 20:25] awood45 commented on #2030
Added this via PR, closing!

[2020-07-24 20:25] #2030 closed

[2020-07-24 20:30] awood45 commented on #2051
We would accept a PR for this, otherwise added to our backlog of UX improvements.

[2020-07-24 20:36] awood45 commented on #2071
This is not an AWS SAM or AWS SAM CLI issue. I would recommend [providing feedback on the documentation](https://docs-feedback.aws.amazon.com/feedback.jsp?hidden_service_name=API%20Gateway&topic_url=http://docs.aws.amazon.com/en_us/AWSCloudFormation/latest/UserGuide/aws-properties-apigatewayv2-stage-routesettings.html) and if needed, contacting AWS Support.

[2020-07-24 20:36] #2071 closed

[2020-07-24 20:37] awood45 commented on #2074
I believe this is covered by #1615, so closing this as a duplicate of that feature request. If multiple config files/profiles would not be sufficient for your issue, please feel free to add additional context in that issue.

[2020-07-24 20:37] #2074 closed

[2020-07-24 20:43] awood45 commented on #2085
This is not the correct way to use the AWS SAM CLI App Templates. If you want to use a template from that repository, just run `sam init` without any parameters, and an interactive menu will guide you through those templates.

If you are passing in a custom location, the expectation is that the target repository is a valid Cookiecutter repo, or that we can download it directly. This DOES now work

[2020-07-24 20:43] #2085 closed

[2020-07-24 20:47] awood45 commented on #2094
We'll add this as a +1 to the request for alternative Linux installation options. In the meantime, you can install using `pip` or `pipx`, though we strongly recommend you use a virtualenv when doing so. For example:

[code]

Closing this, feel free to reopen if the alternative approach here doesn't work for you.

[2020-07-24 20:47] #2094 closed

[2020-07-24 20:51] awood45 commented on #2129
Merged and pending release.

[2020-07-24 20:54] awood45 commented on #2123
Adding as a +1 of #1424

[2020-07-24 20:54] #2123 closed

[2020-07-24 20:55] awood45 commented on #2128
Can you expand a bit more on what runtime you're using and what you're trying to do?

[2020-07-25 22:03] ORDEP81 opened #2133 "sam build --use-container not working correctly with v1.0.0"
### Description

While trying to run `sam build --use-container` I get the following error.
`Build Failed Error: Docker is unreachable. Docker needs to be running to build inside a container.` even though docker is installed and running. It breaks when trying to build the Function. If you introduce a typo to the end of `Type:AWS::Serverless::Functionc` this works for some reason and the get the "B

[2020-07-25 22:20] what-name commented on #2133
Can confirm that the template works on my end with `SAM CLI V0.53`, can build with `sam build --use-container` and can be deployed with `sam deploy -g` no problem. Missing space here in the `CodeUri:Lambda` property but it works (I tested it with him beforehand).

[2020-07-25 22:29] what-name commented on #2086
The command `sam build --use-container --debug` returns the final output of the Docker container like this
[code]

If it fails, does it not return the full error message at the `Build inside container returned response: xyz` line?

[2020-07-25 22:33] what-name commented on #2054
As @rudpot mentioned, the following `parameter_overrides` value is rather tedious to maintain with more than a couple entries:
[code]

+1 for a simpler approach.

[2020-07-26 12:52] ikrustev commented on #2047
@jfuss using -DincludeScope=compile has other bad ramifications - it does not include runtime only dependencies and java library projects are often split into separate jars, some that provide just the interfaces and are needed at compile time and others that are implementations of these interfaces (some times multiple alternative implementations) which are needed at runtime

Please take a look at

[2020-07-27 06:30] elefantelimpio commented on #2128
Good morning @awood45 !

I'm using aws-sdk for nodeJS. I think It could be a great idea to tell **sam build** command to copy specific files to dist folder. Thanks in advance

[2020-07-27 08:51] ItayGoren commented on #1072
I have the same problem. I even tried to upload the lambda's zip to s3 on my own and specify the location at the CodeUrl using Bucket and Key. But `sam` still scans for dependencies for each lambda...

[2020-07-27 09:00] fvilches17 commented on #1970
This issue has now been resolved. This is the commit to the master branch: https://github.com/awslabs/aws-lambda-builders/commit/4493a8405f1f813236e3aced6e9f8323b41906c0

You can get the fix if you download the latest version.

[2020-07-27 09:00] #1970 closed

[2020-07-27 19:00] therealjeffg opened #2134 "Update build images to 1.0.0"
### Description

The build images are still at 0.53, see:

https://github.com/awslabs/aws-sam-cli/issues/2014#issuecomment-663650587

### Steps to reproduce

[code]

[2020-07-27 19:01] therealjeffg commented on #2014
@tianchu thanks for reporting this, we're going to track it in a separate issue:

https://github.com/awslabs/aws-sam-cli/issues/2134

[2020-07-27 22:55] pts-jchin opened #2135 "sam local invoke (golang) unable to access secretsmanager with "The security token included in the request is invalid" error"
### Description

`sam local invoke` lambda with secretsmanager GetSecretValue access respond with "The security token included in the request is invalid" error.

It seems that the request to secretsmanager has `X-Amz-Security-Token` header set to `(null)` when `aws_session_token` is not set in the environment variables.

This seems to only happen when docker image `amazon/aws-sam-cli-emulation-ima

[2020-07-27 23:54] mhart commented on #1424
I would also add that `pipx` is [the recommended method of installing global tools by Python itself](https://packaging.python.org/guides/installing-stand-alone-command-line-tools/) – and solves a lot of the problems with dependency concerns of `pip`.

[2020-07-28 00:42] TJClifton90 commented on #2084
Apologies for the late reply. Just to confirm that was indeed the issue. I only just installed docker so not sure how I managed to install such an antiquated version!

Thanks for the assistance.

[2020-07-28 08:22] MinCheTsai commented on #2129
We are using AWS SSO and sam can't package & deploy, waiting for release. 👍 👍 👍 🔥 🔥 🔥

[2020-07-28 08:44] kaukas opened #2136 "boto3 not available in local Python3.6"
### Description

boto3 seems to not be available when running lambda functions locally through `sam local invoke`.

### Steps to reproduce

[code]

This used to work with earlier images.

### Observed result

`Unable to import module 'app': No module named 'boto3'`

### Expected result

boto3 is supposed to be available in Lambda environments.

### Additional environment details (Ex: Windows, Mac,

[2020-07-28 12:38] pcolazurdo commented on #2086
No, as the machine runs out of disk space even before the image is downloaded the output is not very clear. I guess the challenge is that the docker python API doesn't expose a specific error for this particular case: https://github.com/docker/docker-py/issues/2503

Example output
[code]

[2020-07-28 13:49] timoschilling commented on #2059
@blmayer can you post your `template.yaml` please

[2020-07-28 14:01] matdumsa opened #2137 "[Sam Local start api] Error 500 on _X_AMZN_TRACE_ID missing since upgrading to 1.0"
### Description

Since upgrading to Sam 1.0.0 my local start api command is failing each NodeJS lambda request that's using X-ray, this was not a problem before

### Steps to reproduce
running sam local start-api -p 3000 -t template.yaml -s packages/website/build

[code]

### Observed result

 Expected _X_AMZN_TRACE_ID to be set.\n    at Object.contextMissingRuntimeError [as contextMissing] (/var/

[2020-07-28 15:56] boompig commented on #188
@PaulMaddox is there any update on this? I also ran into this issue. It would be nice at the very least to get a more informative message from SAM than

Perhaps for now SAM can just look at payload size and determine if it's too large to send over the Docker interface. This may not be a perfect solution, but it would at least be helpful in this case.

[2020-07-28 16:11] PaulMaddox commented on #188
Sorry @boompig, I am no longer actively involved in the development of SAM CLI, and haven't been for a few years (since it was rewritten in Python).

Hopefully one of the SAM CLI team can give an update.

[2020-07-28 17:59] DKurilo commented on #188
@boompig , looks like now we need to ask @jfuss  about it.

[2020-07-29 01:32] eliecer2000 opened #2140 "Bootstrap command"
https://github.com/awslabs/aws-sam-cli/blob/1c3753f2063e8769890d3a517a7a5bd26d3dd9aa/samcli/cli/command.py#L25

I would like to know why this command is only executed when sam deploy -g is done, for the first time, it should be part of the command collection, to activate it it must be done manually.

Could someone explain why?

[2020-07-29 03:49] alain-menchaca-clip opened #2141 "Failed to install AWS-SAM-CLI on Mac OS"
### Description

Hi AWS team

I just installed SAM on a Mac according to the [documentation](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-install-mac.html) and I have configured python3.6 (also I have python 2.7, 3.7 and 3.8, but 3.6 is the one it is configured right now) and pyCharm (pycharm-community-2020.1.4) with the AWS tool kit but I am ge

[2020-07-29 06:00] felipe1982 commented on #848
Seems there is already support for building lambda layers. https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/building-layers.html

[2020-07-29 07:05] ngovanviet90 opened #2142 "sam local start-api --log-file not write full message"
Description
Hi AWS team!
I run sam local start-api with:

Command line: sam local start-api --host 192.168.56.200 -l /tmp/sam.log
When i run sam local with log type console is OK.
But run with write log type file (--log-file) then has issue write log in requestId not full.
With message log >1000 byte then write log file is stop, sam not write log next step in request. Until the next request, the l

[2020-07-29 08:19] butsjoh commented on #1442
Sorry to reply on this closed thread but @awood45 has the behaviour of this already changed since the original issue was discussed? Today if i initialise a with the ruby runtime and load the hello world example:

[code]

I get 2 Gemfiles one in the root dir and one in hello_world folder (the function). This confuses me and which one i should update if my hello_world function would need an addition

[2020-07-29 09:39] butsjoh commented on #921
My usage is also with ruby code so i am using the live reloading as follows currently without actually using sam build. Not sure though if this is recommend or bad practice so would like to get feedback on it.

Let say i have the following folder structure with 2 functions:

[code]

instead of using sam build i just do: (i do this from the root directory lambda_example)

[code]

Same thing then fo

[2020-07-29 10:54] leo731121 opened #2143 "sam local start-api invoke lambda unable to access DynamoDB, the error message showed "The security token included in the request is invalid "."
### Description

Before sam local version 0.52.0 everything works fine.Sam local environment can request data from cloud dynamodb. After I upgraded my sam local version to 1.0.0.  When I debug my code in sam local environment. I got an error

"com.amazonaws.services.dynamodbv2.model.AmazonDynamoDBException: The security token included in the request is invalid (Service: AmazonDynamoDBv2; Status Co

[2020-07-29 12:07] drAlberT commented on #848
Uhmmmm I saw it but didn't evaluated it as a straightforward solution...
But reading it again maybe you are right and could be the way....

Will try ASAP

On Wed, Jul 29, 2020, 08:00 Felipe Alvarez <notifications@github.com> wrote:

[2020-07-29 12:48] forzagreen opened #2144 "SAM build container with environment variables"
### Description

When building lambda functions in Docker container ( `sam build --use-container` ), we can pass in a Docker network (with `--docker-network`), but you can't pass environment variables.

It would be very useful to be able to provide environment variables.

### Use Case

Python lambda function using packages from a private registry. You won't have to hardcode your credentials in `re

[2020-07-29 15:50] eliecer2000 opened #2145 "Custom version"
Hello, I would like to make certain changes in a fork repository, but I have no idea how to install it to work in production, that is, to be able to tell my clients to install that personality version.

Thank you for your attention.

[2020-07-29 18:59] cellistigs commented on #2121
Running into the same issue with python 3.6.

[2020-07-29 20:46] cellistigs commented on #2121
Additionally, when using the pre-downloaded container to run tests with `sam local invoke`, I had to explicitly include boto3  in my custom dependency manifest file when running `sam build`.

[2020-07-29 20:52] CoshUS commented on #1786
Possible Causes:
**Error: [InvalidTemplateException("'Resources' section is required")] 'Resources' section is required**

**Error: Failed to parse template: unacceptable character #x0000: special characters are not allowed in "<unicode string>", position 3**

[2020-07-29 21:30] erickisos commented on #1956
Same error with 1.0.0
In the sam build stage
[code]
This is the traceback

[code]

And the current version

[code]

[2020-07-29 21:55] asifpy commented on #1470
+1

[2020-07-30 04:35] juakotorres commented on #2128
I'm also having this issue, i need to exclude credentials but i need that sam build include those files. For example a json file with the database connection settings, i don't want to include this file on my git project but i want to sam build to include it.

Runtime: nodejs12.x

Is there a way to configure sam build to include those files that are in .gitignore?

[2020-07-30 05:00] pbaezab commented on #2136
+1

[2020-07-30 07:45] BR0kEN- commented on #2121
This seems does not depend on the runtime type and happens to all of them. See https://travis-ci.com/github/BR0kEN-/aws-sam-cli--build-travis/builds/177681130.

I didn't experience such issue. Looks weird since the `boto3` is the dependency of `aws-sam-cli`.

[2020-07-30 10:31] eladb opened #2160 "The image aws-sam-cli-build-image is incompatible with BitBucket Pipelines"
Transferred from the AWS CDK: https://github.com/aws/aws-cdk/issues/9351

Reported by: @SergKam

After upgrade to cdk 1.55.0 where it stats using  `amazon/aws-sam-cli-build-image-nodejs` by default,
building NodejsFunction in BitBucket Pipelines fails with the error.
`Container ID 1230228 cannot be mapped to a host ID`
The BitBucket docs https://community.atlassian.com/t5/Bitbucket-articles/Change

[2020-07-30 16:27] Roy-VZ commented on #1927
@spuds51 - I had the same issue
after that I just wrote **brew install aws-sam-cli** although I though it was already installed and it worked.

[2020-07-30 18:17] blmayer commented on #2059
Here's my template.yaml.

[code]

[2020-07-30 18:35] elenasch opened #2146 "amazon/aws-sam-cli-build-image-python3.7 gets fetched every time sam build even when --skip-pull-image is set"
### Description

I am building lambda with SAM CLI `sam build -t sam_template.yaml LambdaApp --skip-pull-image --use-container`. It takes incredibly long and partially because a`amazon/aws-sam-cli-build-image-python3.7` image gets fetched every time I  run build. I have tried to fetch the image ahead of time which sped up the build the one time right after manual fetch, however it gets deleted aft

[2020-07-30 19:17] steviec commented on #1990
FWIW, I hit this same issue, and I bet anyone who hits this issue will end up here trying to understand why it happens. I think the error message could be improved so that people don't have to come here to understand what it means!

It was confusing to me that it said the _HelloWorldFunction_ does not have authorization defined; it made me wonder if the IAM settings that the CLI was generating wer

[2020-07-31 06:35] kornicameister commented on #818
Ditto.  I ran into this when building from a privately hosted repository.

[code]

[2020-07-31 07:57] dmasip-rxd opened #2148 "sam build doesn't work with `cvxpy` in requirements"
### Description

When putting cvxpy in requirements, `sam build --use-container` returns

```Error: PythonPipBuilder:ResolveDependencies - {cvxpy==1.1.3(sdist)}```

### Steps to reproduce

Minimal example:
* `sam init` and choose python 3.7 tutorial.
* Change the `hello_world/requirements.txt` file to:
[code]
* run `sam build --use-container ` (or `sam build --use-container --debug`)

### Observed

[2020-07-31 09:38] austindimmer opened #2149 "Debugging on Windows WSL2 Fails with Timeout"
### Description

I am unable to debug a simple Lambda function generated with an AWS Toolkit Template whilst running Windows 10 with Docker Desktop and WSL 2 mode enabled. The debugger times out.

09:59	Connection to Python debugger failed: Connection to the debugger script at localhost:61481 timed out

10:40	Connection to Python debugger failed: Connection to the debugger script at localhost:6004

[2020-07-31 18:06] jwalsh2me opened #2150 "Using a !If on and Event Timer for Enabled is always True"
### Description

I have a Condition in my SAM Template to check the ENV Parameter it True.  I am trying to pass that into a Timer Event to either be true or false under `Enabled`.  It always sends it as `true`. Setting that value to either `true` or `false` works as expected, but using `Enabled: !If [ProdEnv, "false", "false"]` or `Enabled: !If [ProdEnv, "true", "false"]` always sets it to true an

[2020-07-31 19:40] danish45007 commented on #2136
+1

[2020-08-01 05:25] vardhmanhundia commented on #2136
+1

[2020-08-01 13:53] Phuurl opened #2151 "Go quickstart hello world example fails to run"
### Description

After deploying the Go Hello World quickstart example (without any modifications), the deployed Lambda fails to run, with a `file not found` error.

### Steps to reproduce

1. `sam init --runtime go1.x`
2. Select the `Hello World Example`
3. `make` the project (or `sam build`)
4. `sam deploy --guided`
5. Either hit the deployed API, or test the Lambda via the console
6. Observe th

[2020-08-01 14:24] jwalsh2me commented on #2150
Also tried a `!Ref ProdEnv` to see if that would pass the True/False it was also always True.

[2020-08-01 16:04] cdaniluk commented on #818
This has been sitting open for close to 2 years..

[2020-08-01 21:07] kornicameister commented on #818
Yeah...time to invest some time and fix? :D

[2020-08-01 23:15] heffergm commented on #420
Does no one else have concerns over the need to pass this:

[code]

To automate this would mean granting permissions to an entity to create a new role with any set of permissions in it, which is a bit of a no-go for me.

I suspect there might be a way around this with permissions boundaries, but for the life of me I haven't been able to figure it out as yet.

[2020-08-02 01:06] awood45 commented on #420
So for some context on those permissions, if you're creating IAM roles, you need to have the necessary permissions, and they are powerful permissions to have. If you want to get around this, there are two approaches:

1. Create IAM roles elsewhere, and reference them by ARN in your SAM template. If you're doing this, you won't need permissions to create/delete roles (whatever account/user creates

[2020-08-02 17:20] metaskills commented on #2006
Gonna close this.

[2020-08-03 06:42] milesgranger opened #2152 "Parameter to specify which `samconfig.toml` to use"
### Describe your idea/feature/enhancement

To my understanding, `sam deploy` does not presently accept a `--sam-config` type parameter to specify which config to use.

This seems beneficial in cases where one has dev/test/production specific config files for `sam`

### Proposal

Add the possibility to do something like `sam deploy --config samconfig-prod.toml`

[2020-08-03 06:43] milesgranger commented on #2152
I'd be happy to submit a PR if this seems reasonable and if I could get a short pointer on where to start. :+1:

[2020-08-03 11:00] danballance commented on #896
@misk0 I would also be willing to help although it could only be in a supporting role. I don't understand enough about how the local services are set up to be able to do this work independently.

[2020-08-03 14:32] timoschilling commented on #2150
I think it isn't a bug in SAM cLI it's a bug in https://github.com/awslabs/serverless-application-model

[2020-08-03 14:48] agrounds commented on #2135
I'm experiencing a similar problem in a Java-based environment. I'm using `sam local invoke` to run a lambda written in Kotlin. If I use SAM v1.0.0, the `AWS_SESSION_TOKEN` environment variable gets set to `(null)`, causing an authentication error.

[2020-08-03 16:57] jwalsh2me commented on #2150
Thanks @timoschilling will open up an issue there and link it back here.

[2020-08-03 17:20] jwalsh2me commented on #2150
Moved to -->. https://github.com/awslabs/serverless-application-model/issues/1676

[2020-08-04 01:35] ronaldour commented on #2152
#1615 Is related to this one :)

[2020-08-04 02:19] #2152 closed

[2020-08-04 06:25] milesgranger commented on #1615
It seems one of the points of having a `.toml` config file is to facilitate different settings for given build. For example [Cargo.toml profiles](https://doc.rust-lang.org/cargo/reference/profiles.html) allows Rust users to specify how to compile given certain profiles. Likewise, [Poetry](https://github.com/python-poetry/poetry#introduction) does similar with normal, dev, and extras dependencies.

[2020-08-04 09:07] SophonAlpha commented on #1891
Same issue with SAM CLI, version 1.0.0 on Windows 10 Enterprise. I tried with installation via pip and MSI. Problem remains.

As @boyersnet mentioned, the issue is the path from where SAM CLI tries to copy the template code. It tries to copy from a non-existing 'local' folder:

`C:\Program Files\Amazon\AWSSAMCLI\runtime\lib\site-packages\samcli\local\init\templates\...`

... but the template is in

[2020-08-04 09:39] 39otrebla opened #2153 "Getting "Could not find a value associated with JSONKey in SecretString" after updating secret"
### Description

Our SAM template references some secrets, as follow:

[code]

This morning we added a new key in the secret `FOO` (from console), and we wanted to update our SAM application to use this new key. Though, stack deployment fails with the following error:

`Could not find a value associated with JSONKey in SecretString`

### Steps to reproduce

1. Create a Secret in SecretManager from

[2020-08-04 10:55] szabolcs-dekany commented on #1252
It is indeed a bit confusing to me.
How would you approach handling two different lambdas with the same code base? I Thought using two template files through building and deployment could be used for this purpose

[2020-08-04 13:58] unglud commented on #2143
Same here

[2020-08-04 16:27] Borduhh commented on #1163
Has anyone found a good way to address this with quite a few different env variables (say 10-20 or so)?

The two things I want to avoid are:
- I definitely do not want to commit any files containing my env variables to a repo.
- I do not want to manually type them on every deploy. That seems like a living nightmare.

The only ways I could think of would be adding them to the `template.yaml` file o

[2020-08-04 16:33] adnangul commented on #1163
I think one fo the option is, you can set the env variables and then use
the variable while executing the command. Or create a shell script wrapper
which can supply these value from env. Ideally once you are done with
development, these variable will be injected through ci/cd pipelines

Regards
Adnan

On Tue, Aug 4, 2020 at 11:27 AM Nick Bordeau <notifications@github.com>
wrote:

--
Regards,
*Adna

[2020-08-04 22:31] BigMountainTiger commented on #2136
+1

[2020-08-05 00:06] mndeveci commented on #2133
Hi @ORDEP81,

Thanks for reporting this issue. I try to reproduce it on a linux machine, and I found out that using an older docker might be the root cause.

My docker version;
[code]

And running build command using container fails;
[code]

As you can see the following line, it is failing due to older version of docker;
`docker.errors.APIError: 400 Client Error: Bad Request ("client is newer than

[2020-08-05 12:20] heffergm opened #2154 "SAM deploy idempotency expectation?"
### Description

Currently, working from the same codebase, running `sam deploy` on one machine and then again on another will trigger a full deployment workflow (function code updates, codedeploy deployment, etc) even though no code has changed.

### Steps to reproduce

On system X, run `sam build && sam deploy`; if there are changes pending, apply them. Re-run so that you confirm an empty change

[2020-08-05 12:33] steviec commented on #364
At a minimum, it would be really helpful for this to be flagged in the debug logs. I spent hours tweaking my OpenAPI file assuming that I was doing something wrong in the `x-amazon-apigateway-request-validators` stanza, only to find out after uploading it to the AWS Gateway that my validations were fine and it was just an SAM CLI issue :(.

[2020-08-05 14:09] johnc44 commented on #2136
Been meaning to post this, but been a bit swamped.  It works fine on sam 0.53.0, so that's where I'm staying for the time being.

[2020-08-05 14:35] drissamri commented on #1641
just tested this with 1.0.0, still not possible

[2020-08-05 16:34] karthikvadla commented on #654
I still get this error referencing to local path.

[code]

[2020-08-05 17:07] SergioFloresG commented on #1736
any update on this case?
I have the same problem.

[2020-08-05 17:30] timoschilling commented on #2154
Which runtime do you use. I can't confirm you case for ruby for example.

[2020-08-05 17:39] heffergm commented on #2154
Python3.7

[2020-08-05 19:42] saminnet commented on #1641
Yeah with 1.0.0, still doesn't work, it would have been nice to be able to test the api locally!

[2020-08-05 20:27] heffergm commented on #2154
These are moments apart. It's probably worth noting our setup is on the complex end of the spectrum (pre/post deploy hooks, multiple functions, etc). If I went ahead and applied the change locally, the next run on gitlab would result in a full changeset. However if I re-run from gitlab in this case (clean changeset first run) subsequent runs will remain clean. The same holds true for the reverse.

[2020-08-05 21:18] wchengru commented on #2093
In the example template.yaml file, CodeUri field is using relative path:
`CodeUri: HelloWorldFunction`
Here the directory "HelloWorldFunction" is relative to template file directory instead of build directory of JAR files.
After running `sam build`, the directory structure of sam cli is like below:
`.
├── .aws-sam
│   └── build
│       ├── HelloWorldFunction
│       │   ├── helloworld
│       │  

[2020-08-05 21:33] AndrewTrapani commented on #2141
I'm having this issue as well with PyCharm Professional 2020.1

I can't debug AWS Serverless in PyCharm, meaning I'll have to use a competitor to debug AWS Serverless and probably won't buy PyCharm site licenses for our company if this issue isn't resolved soon.

MacOS Catalina 10.15.4.

[code]

[code]

I installed from the AWS documentation:
https://docs.aws.amazon.com/toolkit-for-jetbrains/lates

[2020-08-05 23:07] jcardus commented on #2095
I'm using version 1.0.0 and I have exactly the same issue

[2020-08-05 23:54] alexhung commented on #1252
I lost at an hour today to this.

I used the `-t template.dev.yml` to deploy to different account/environment. I did not expect that SAM behaves differently since there is no documentation about this behavior.

Now I have to device another scalable way to maintain different VPC and ALB info for each environment.

BTW, this is for a python lambda. I have used the `-t` successfully with a nodejs lam

[2020-08-06 00:05] abrooksv commented on #2141
@AndrewTrapani I work on the AWS Toolkit for Jetbrains.

Can we do a bit more testing from the IDE side?
We need to edit the log settings of PyCharm to show what env vars the IDE sees when it calls out to SAM:

1. Open the debug log settings:
<img width="761" alt="Screen Shot 2020-08-05 at 4 58 29 PM" src="https://user-images.githubusercontent.com/8992246/89475522-27dd1a80-d73d-11ea-94e1-29c555cba

[2020-08-06 00:11] AndrewTrapani commented on #2141
Where are the logs for `figurations.GeneralCommandLine` located?

I ran pycharm from the command line and my stdout/err didn't have `GeneralCommandLine` in it.

--
This message and any attachment are confidential and may be privileged or
otherwise protected from disclosure. If you are not the intended recipient,
you must not copy this message or attachment or disclose the contents to
any other per

[2020-08-06 00:12] abrooksv commented on #2141
Two lines up in the Help menu, Show Logs in Finder

[2020-08-06 01:12] AndrewTrapani commented on #2141
I had to go through it and make sure no secret env variables may have been in there.

--
This message and any attachment are confidential and may be privileged or
otherwise protected from disclosure. If you are not the intended recipient,
you must not copy this message or attachment or disclose the contents to
any other person. If you have received this transmission in error, please
notify the sen

[2020-08-06 03:25] patrobinson opened #2159 "`--confirm-changeset` flag should be on by default"
**Description:**

When running `sam deploy` changes are applied automatically, without confirmation.

This has caused issues for us when you accidentally have a namespace conflict that results in one stack being replaced with another. There are many other scenarios where after viewing the changeset we prefer to cancel it instead of proceeding.

The `--confirm-changeset` flag should therefore be on

[2020-08-06 06:09] timoschilling commented on #2154
What happens if you deploy multiple times from your Mac?

[2020-08-06 10:57] heffergm commented on #2154
Same deal: if there's a changeset to apply and I apply it, subsequent runs are clean.

[2020-08-06 14:47] rts-rob commented on #2151
This also occurs with the following environment details:
1. OS: Windows 10, Version 1809 (OS Build 17763.1339)
2. `sam --version`: SAM CLI, version 1.0.0
3. `go version`: go1.14.6 windows/amd64

Seems to be related to executable permissions:
[code]

[2020-08-06 14:57] rts-rob commented on #2151
However, this works as expected on macOS with the following environment details:
1. OS: macOS Catalina Version 10.15.6
2. `sam --version`: SAM CLI, version 1.0.0
3. `go version`: go1.14.6 darwin/amd64

[2020-08-06 15:59] c2tarun commented on #2095
Hi @jcardus, I am not seeing this issue in nodejs12 anymore. Can you please share more details around the environment where you are seeing this issue?

Feel free to re-open this issue if problem persists for you.

Thanks
Tarun

[2020-08-06 17:54] futurama92 commented on #1896
i'm interested too in this feature, it let me emulate EFS

[2020-08-06 18:49] ekcrisp commented on #654
@karthikvadla this was added to aws cli cloudformation package, not sam cli. You can try using https://docs.aws.amazon.com/it_it/cli/latest/reference/cloudformation/package.html

[2020-08-06 19:45] beck3905 commented on #1845
@c2tarun Any updates on this?  I'm still stuck using v 0.41.0 until this gets addressed.

[2020-08-06 19:49] beck3905 commented on #1072
I ended up building a Lambda Layer (`AWS::Serverless::LayerVersion`) with all my dependencies and then I don't need to run `sam build` at all.  But, I do have to package my requirements and code into the Lambda layer ContentUri folder locally and then `sam deploy` will package and upload the Lambda layer for me.  It's a little more than I would like to manage myself (I wish the same aws-sam-cli co

[2020-08-07 00:04] mndeveci commented on #2143
Hi @leo731121 ,

Thanks for raising this up. Is it possible to test the issue with v0.53.0 of SAM CLI?

[2020-08-07 00:11] c2tarun commented on #1845
Hey @beck3905 , sorry and thanks a lot for your patience. This fell off my radar. I can confirm that I am able to reproduce issue with `sam deploy --tags="Component=repository-branch-deployment-role Contact=team_email@email.com Department=department Environment=dev Name=repository-branch-network-infrastructure Project=project-name Purpose=development"`

I am re-opening this issue.

[2020-08-07 01:27] mndeveci commented on #2146
Hi, @elenasch ,

I tried to re-produce issue with a regular python application. If I provide `--skip-pull-image`, it is not downloading again.
That could point that issue might be related to custom build method.

Would you able to share your Make file details, or can you reproduce with a custom/simple example?

Thanks!

[2020-08-07 02:01] mndeveci commented on #2154
Hi @timoschilling and @heffergm

Thanks for comments here. I tried to reproduce the problem by running `sam build -u && sam deploy -g` for the same project to the same AWS account from two different development machines.

For the first deploy everything seen as new and created all the resources.
Second deploy only saw the part as modified (I believe that is related to re-running build command), se

[2020-08-07 10:25] pfdtk opened #2156 "Defining region in template.yml file"
There are few lambda function defined in my template.yml file, some of them are designed to use in region ap-southeast-1, and some in us-east-1，so is it possible add a keyword `region` in template.yml so that the sam cli will upload the code to multiple region?

[2020-08-07 10:45] supreetd21 opened #2157 "SAM Validate without AWS Credentials."
### Describe your idea/feature/enhancement
I want to add SAM Validate into my CI to check if all the SAM files are correct.
When I checked my debug logs, I found that SAM connects to AWS to send telemetry data.
I turned it off using `export SAM_CLI_TELEMETRY=0` but AWS tries to connect to `"https://iam.amazonaws.com/"`, If `sam validate` only checks if the SAM template is correct by parsing the te

[2020-08-07 12:43] heffergm commented on #2154
Thanks for looking into it.

My suspicion is, since this clearly isn't a low level issue, that there's something specific to our configuration that's resulting in this behavior. I'll see if I can put a minimal setup together that reproduces the issue.

[2020-08-07 14:24] jkim-hyla commented on #2069
any chance this is still an issue?  I'm seeing this error now.

[2020-08-07 14:25] mhart commented on #2069
@jkim-hyla you need to update your SAM CLI version to 1.0.0

[2020-08-07 14:54] heffergm commented on #2154
So I've got a basic usable example, tgz attached. It's a good representation of the infrastructure elements we're using in our stacks but with all the code removed. Running `build_and_deploy.sh` from different systems produces the results I originally described.

Just to briefly reiterate:
- run from SystemX: apply changeset if pending
- run from SystemX again: no changes to apply
- copy tgz to Sy

[2020-08-07 16:00] jkim-hyla commented on #2069
doh!  that was it!  Thanks for the quick reply!

[2020-08-07 16:36] c2tarun commented on #1845
Hello @beck3905, I was able to merge a fix for this issue yesterday. I don't have exact release date yet, but when we'll do next release you should be able to upgrade. I'll leave this issue open, until that happens.

[2020-08-07 17:00] elenasch commented on #2146
Sure. Here are the makefile contents:

[code]

[2020-08-07 18:08] CoshUS commented on #2106
Closed. Feel free to reopen if there is more information on the issue.

[2020-08-07 18:08] #2106 closed

[2020-08-07 18:20] iballard95 commented on #239
@jfuss any updates?

[2020-08-07 20:29] awood45 commented on #2134
This is in progress now.

[2020-08-07 20:33] jfuss commented on #2150
Closing in favor of  awslabs/serverless-application-model#1676

[2020-08-07 20:33] #2150 closed

[2020-08-07 20:41] jfuss commented on #2160
Duplicate of https://github.com/awslabs/aws-sam-cli/issues/2125

Closing

[2020-08-07 20:41] #2160 closed

[2020-08-07 20:42] awood45 commented on #2134
All build images have been updated to use AWS SAM CLI 1.0.0.

[2020-08-07 20:42] #2134 closed

[2020-08-07 20:49] ojizero commented on #420
So far this policy is the smallest policy I managed to get sam deploy to release a new version of Lambda, YMMV! Not sure if it can be done with a smaller policy though ¯\_(ツ)_/¯

[code]

[2020-08-07 21:46] awood45 commented on #2121
We have a proposed fix for this that we're working on. It will not require an upgrade to the SAM CLI, as the issue would be with the images themselves.

[2020-08-07 22:24] elenasch commented on #2146
As far as I can see, when `sam build` finishes, the `amazon/aws-sam-cli-build-image-python3.7` gets deleted, and next time it needs to refetch it. It's not really looking for a newer version, since there is no version available at all, so it fetches it from scratch.
Do you know why the image gets deleted at the end of `sam build` ?

[2020-08-08 02:40] lukepopp commented on #2093
@wchengru the full URI path was always specified in the template file so it's not a relative path issue.  I've upgraded to SAM CLI 1.0.0 and the problem is still here.

Startup Debug with -T:

Found Serverless function with name='HelloWorldFunction' and CodeUri='/home/username/dev/gitrepos/github/username/test-sam/sam-app/HelloWorldFunction/target/HelloWorld-1.0.jar'

Invocation Debug (curl http:/

[2020-08-08 04:19] lukepopp commented on #2093
The same code works on WSL2 Ubuntu 20.04 on Windows 10.

[2020-08-09 08:45] BR0kEN- commented on #2121
@awood45 That's good news. Could you please share more details? I am eager to understand the background: the image is not downloadable only on cloud CI. Why? What is the trait the image could gain to behave like this?

[2020-08-10 10:50] leo731121 commented on #2143
Yes, before i upgraded my sam local to v1.0.0, i used sam local v0.52.0 and everything is normal. After  i reinstalled homebrew in my ubuntu 18.04, I only can install sam local  v1.0.0 now. I had tried to downgrade my sam local to v0.48.0(according to this post, https://github.com/awslabs/aws-sam-cli/issues/1987#issuecomment-629034464) but failed. This issue will occur in ubuntu16.04 which install

[2020-08-10 13:37] jfuss commented on #2157
@supreetd21 `export SAM_CLI_TELEMETRY=0` only turns off the telemetry for SAM CLI not turning off communicating with AWS Services.

`sam validate` requires credentials so that we can validate managed policies. Without getting the list of managed policies from IAM, we cannot validate if the ones specified in the template actually exist. Due to this, AWS Credentials is a requirement to run `sam vali

[2020-08-10 13:37] #2157 closed

[2020-08-10 15:06] abrooksv commented on #2141
Hey @AndrewTrapani,

Were you able to find anything the logs?

[2020-08-10 16:51] elenasch commented on #2146
I found the issue. It was to do with my localhost docker and space for images and **not** `sam cli`.
Turns out that docker will automatically remove recent images if it is close to running out of space allocated for images. I had 5GB (out of 56GB ) left and so sam cli image would get auto deleted after usage.

[2020-08-10 16:51] #2146 closed

[2020-08-10 18:01] AndrewTrapani commented on #2141
I see, the logs didn't get attached over email reply.

Here:
[GeneralCommandLine.log](https://github.com/awslabs/aws-sam-cli/files/5052488/GeneralCommandLine.log)

[2020-08-10 18:40] guichafy commented on #239
I'm very excited to see this feature.

[2020-08-10 19:43] crwgregory commented on #2135
Does anyone have a good workaround besides manually commenting the env var in and out? I tend to forget to comment it out before running `sam deploy` and then 5 min later cloudformation tells me I am uploading a reserved keyword to the lambda function, then I have to go back and comment it out and start the process all over again.

I wanted to use something like the local env file that sam lets yo

[2020-08-10 21:55] abrooksv commented on #2141
@AndrewTrapani The comment was deleted due to I saw an API token in it, I would advise you to rotate it

[2020-08-10 22:07] AndrewTrapani commented on #2141
Thanks. It's been revoked and I tried to scrub the log better this time.

[GeneralCommandLine.log](https://github.com/awslabs/aws-sam-cli/files/5053664/GeneralCommandLine.log)

[2020-08-10 22:11] abrooksv commented on #2141
Nothing stands out as obviously wrong. I will try to re-create it using these env vars.

[2020-08-11 00:39] mndeveci commented on #2154
Hi @heffergm ,

I was able to re-generate the issue as you mentioned. It is related the way we generate md5 (hashing) of the deployable packages. And apparently, they are different from different operating systems.

Created a PR to address the issue.

[2020-08-11 01:13] Spothedog1 commented on #2069
I'm getting this error again and am using SAM CLI version 1.0.0

[2020-08-11 06:31] Stone2517 commented on #2095
`
Invoking index.handler (nodejs12.x)

Failed to download a new amazon/aws-sam-cli-emulation-image-nodejs12.x:rapid-1.0.0 image. Invoking with the already downloaded image.
Mounting /Users/naveen/Downloads/AWS/sam/newton/src/lambda/postSignUp as /var/task:ro,delegated inside runtime container`

I pulled the amazon/aws-sam-cli-emulation-image-nodejs12.x: latest, still I get the same message.

[2020-08-11 09:46] timoschilling commented on #2156
Based on the CloudFormation contains one `template.yml` can only be deployed into one region at a time. To solve your problem you need to split your functions into two `template.yml` files, one for each region.

[2020-08-11 14:41] dslove opened #2164 "Error: PythonPipBuilder:ResolveDependencies - {pymsteams==0.1.13(sdist)}"
### Description

I tried to sam build a lambda function but hit this problem, making the build fail.

### Steps to reproduce

I have a lmabda function and its cloudformation yaml file. The dependencies are in a requirements.txt which includes 3 libs: requests, boto3, and pymsteams.
Then I tried sam build and sam package cmds together like this:
[code]

### Observed result

[code]
Note that this er

[2020-08-11 15:28] wchengru commented on #2093
@lukepopp Thanks for the updates.
A similar issue is #909. When SAM CLI sees a zip/jar file, we unzip it into a temporary directory. Looks like you don't have permission to access to this directory.
Could you please check if you can access the temporary directory, and the directory is the same with and without `--template` option?

[2020-08-11 15:38] c2tarun opened #2165 "Local invoke shows unabled to pull *-rapid-1.0.0 image."
### Description

On running local invoke we see following error message. It doesn't prevent local-invoke just raises false alarm when looking at logs.
[code]

### Steps to reproduce

Pretty `local invoke` in any of `sam init` projects.

### Observed result

Please provide command output with `--debug` flag set.

### Expected result

Describe what you expected.

### Additional environment details (

[2020-08-11 15:39] c2tarun commented on #2095
Hi @Stone2517, this is a minor bug which we are tracking #2165.

[2020-08-11 15:50] S4lem commented on #2136
+1

[2020-08-11 17:26] wchengru commented on #2018
Hi @Aleksandr-Filichkin @luchees ,
I have created a pr to support single quoting parameter overrides.
You can use single quotes to wrap string with spaces after this pr is released.

[code]

[code]

[2020-08-11 17:26] wchengru commented on #2034
Hi @senorkrabs,
For now, we only support wrapping strings with double quotes `\"`, the escape sequence needs to be `\\\"` inside double quotes. I have created a pr to support single quoting parameter overrides. You can simply use `\"` inside pair of single quotes after this pr is released.

[code]

[2020-08-11 20:02] abrooksv commented on #2141
I have not been able to reproduce this. I am getting stumped why when SAM is invoked its falling into `/usr/local/Cellar/python@3.7/3.7.8_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/` instead of `/usr/local/Cellar/aws-sam-cli/1.0.0/libexec/lib/python3.7/site-packages/`

I am not sure if its https://bugs.python.org/issue22490 that is causing the problem or something else.

[2020-08-11 20:19] AndrewTrapani commented on #2141
Those all seem valid paths on my system:
[code]

[code]

Important: `/usr/local/opt/python@3.7/` is installed by MacPorts.

[2020-08-11 20:51] abrooksv commented on #2141
They are valid, but `/opt/python@3.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/ ` lacks the site-package for SAM CLI. That is the issue with it searching that location.

[2020-08-11 21:03] AndrewTrapani commented on #2141
OK. Then somehow it pointed to MacPorts. I used MacPorts for everything, except this one thing.

Following the AWS directions, I used Brew to install the AWS-CLI and that did install the Python 3.7 plus correct packages into the Cellar.

FYI Cellar site-packages just in case:
[code]

[2020-08-11 23:25] aaronbrighton commented on #2136
+1, not clear how to downgrade to 0.53.0 using Homebrew, reinstalled using pip instead.

[2020-08-12 00:31] mndeveci commented on #793
This issue should be fixed with following PR; https://github.com/awslabs/aws-sam-cli/pull/2060

[2020-08-12 01:48] seongyeolpark commented on #2095
i've got same message when i tried to "sam local invoke"

[sam cli version]
**SAM CLI, version 1.0.0**

[message]
Failed to download a new amazon/aws-sam-cli-emulation-image-python3.8:rapid-1.0.0 image. Invoking with the already downloaded image.

[2020-08-12 02:06] BigMountainTiger commented on #2136
I noticed that the message - "Failed to download a new ...." is actually a false alarm.

The "local invoke" actually works without a problem. I have tried this in a totally new virtual machine, and made sure that I did not have any cached images. All of my "local invoke" and "local start-api" worked.

May be in the next release, they can remove this false alarm. For now, I think that we can just i

[2020-08-12 03:50] mbuotidem commented on #2136
@BigMountainTiger Do your lambdas use boto3? If you're not importing boto3, they might work fine without your running into this issue.

While the OP is on Mac, I'm on Windows and installed version 1.0.0 on WSL1 the homebrew way set out on the docs page. I also separately installed version 1.0.0 on the Windows side. Both were giving me the same `Unable to import module 'app': No module named 'boto3

[2020-08-12 11:26] andrehigher commented on #2095
I'm having the same issue when I run `sam deploy --guided`

[code]

[code]

[2020-08-12 11:43] BigMountainTiger commented on #2136
@mbuotidem No, I did not use Boto3. I mostly use javascript for the lambdas. I guess you can "pip install boto3 -t ." and deploy botos in the lambda to avoid the problem. It is a pain though.

[2020-08-12 13:34] leo731121 commented on #2143
I have replicated the issue in windows 10 which installed sam local v1.0.0. It seems not to be a  problem cause by OS. I got an old version from the link(https://github.com/awslabs/aws-sam-cli/releases) and then installed v0.49.0 (AWS_SAM_CLI_64_PY3.msi)in Windows 10. The issue (security token invalid) will not occur. When using v0.49.0, the sam local will download image  lambci/lambda. If I use s

[2020-08-12 14:58] theholy7 commented on #1252
I was also caught by this today. Lost a few hours until I found this thread. Defo not obvious.

For the record, I was creating 2 templates based on a parametrized one where I was replacing variables with `sed`.

Then I was pointing `sam package` to the correct template, but I was running `sam deploy` before.

[2020-08-12 18:18] atlasgurus commented on #2165
Hi,
Is there a workaround for this issue?  What's the downside with running like this?

Thank you,

Vassili Gorshkov

[2020-08-12 18:28] sriram-mv commented on #939
I can see better error messages now for the "mysql2" gem on why it failed on sam cli version 1.0.0

[2020-08-12 20:51] c2tarun commented on #771
@gyfis, Thanks for reporting this issue and sorry for delayed response. For start-api on local we use python-flask. When request reaches lambda through Flask, it gets decoded. Given the design decisions we have made so far there is no easy way to fix this for us. As a workaround you can use `sam local invoke -e event-json-file.json` and that works as expected. I am closing this issue for now, plea

[2020-08-12 20:51] #771 closed

[2020-08-12 20:57] c2tarun commented on #878
Closing this issue as it was fixed in [Release 0.48.0](https://github.com/awslabs/aws-sam-cli/releases/tag/v0.48.0)

[2020-08-12 20:57] #878 closed

[2020-08-12 21:11] gyfis commented on #771
@c2tarun Thanks for the response!

[2020-08-12 21:47] ngarg-panw commented on #669
docker.for.mac.localhost worked for me.

[2020-08-12 22:20] dslove commented on #2164
Interestingly I found that this problem doesn't happen when I run "sam build" in my Mac native terminal, but only happens when I run sam in my IntelliJ's terminal. This sounds Shell env related. I use BASH btw.
So I am closing this issue. Sounds the ticket should be opened to IJ.

[2020-08-12 22:20] #2164 closed

[2020-08-12 22:30] mndeveci commented on #754
Thanks for all the comments here.

As you mentioned I tried to re-produce the issue on a simple project. I created a Java lambda from Hello World template, and change the method type to `post`. And then updated the method parameters inside lambda to `List<String>`. So my template and my function looks like this;

[code]

[code]

When I invoke this locally, and pass list of strings as body of the r

[2020-08-12 22:30] #754 closed

[2020-08-12 23:49] lukepopp commented on #2093
@wchengru, it is a problem with /tmp and SAM not being able to write.  However, my permissions on /tmp look
correct .

[code]

My logged in user can create new files in /tmp.   Here's the stack dump.  Please note the the referenced path, /tmp/tmp2h9y1w89 is not in the /tmp directory after the program bombs out.

[code]

[2020-08-13 03:31] mndeveci commented on #1947
Patched with [v1.0.0](https://github.com/awslabs/aws-sam-cli/releases/tag/v1.0.0)

[2020-08-13 03:31] #1947 closed

[2020-08-13 03:32] mndeveci commented on #793
Patched with [v1.1.0](https://github.com/awslabs/aws-sam-cli/releases/tag/v1.1.0)

[2020-08-13 03:32] #793 closed

[2020-08-13 03:32] mndeveci commented on #1902
Patched with [v1.1.0](https://github.com/awslabs/aws-sam-cli/releases/tag/v1.1.0)

[2020-08-13 03:32] #1902 closed

[2020-08-13 03:38] mndeveci commented on #2110
Fixed with https://github.com/awslabs/aws-sam-cli/pull/2163, waiting for the next release atm.

[2020-08-13 03:39] mndeveci commented on #2154
Fixed with https://github.com/awslabs/aws-sam-cli/pull/2163, waiting for next release

[2020-08-13 06:59] bramkoot commented on #551
+1

[2020-08-13 13:08] EladHeller commented on #2064
This work around work only when the name of the directory is alphanumeric.

[2020-08-13 15:09] steve-a-jones commented on #2165
The tag `rapid-1.0.0` doesn't seem to exist for any of the images -- https://hub.docker.com/r/amazon/aws-sam-cli-build-image-python3.8/tags?page=1

[2020-08-13 15:24] VinodIngle777 commented on #959
After Sharing Folder where publish files are there
still getting internal server error
{ "statusCode": 500, "message": "Internal server error", "activityId": "12334cb005-e16e-41d8-8ae8-f04ed100a03a"

[2020-08-13 17:49] c2tarun commented on #2165
@atlasgurus and @steve-a-jones , Thanks for reaching out. There is no downside of running like this. We actually create a docker image on local with `rapid-1.0.0` tag, since this is local only image it don't exist in dockerhub. However, the code which is used to use this image tries to first pull it from dockerhub (this code need update). We always fallback to local image we create for this.

[2020-08-13 17:51] atlasgurus commented on #2165
Thank you.

Vassili

On Thu, Aug 13, 2020 at 10:49 AM Tarun <notifications@github.com> wrote:

--
Vassili Gorshkov
Atlas Consultants Group, Inc.

[2020-08-13 19:26] wchengru commented on #2093
Hi @lukepopp
Looks like it is a Docker issue from your logs. Docker cannot create that folder `tmp2h9y1w89` under `/tmp` at first, then creation subdirectory is failed. Unfortunately I cannot reproduce your issue on my side. Could you please provide your template file, the jar file you are using, and the full logs if possible?

[2020-08-13 19:40] CoshUS commented on #2151
Duplicate with: https://github.com/awslabs/aws-sam-cli/issues/954

Original issue could a different one since the error message is path not found and I wasn't able to reproduce it yet.

[2020-08-13 20:23] mndeveci commented on #1940
In addition to Alex's comments, the state might look like it is in invalid state (ex: `DELETE_FAILED`) but it is actually healthy.

I accidentally tried to delete my `aws-sam-cli-managed-default` stack and it is now in `DELETE_FAILED` state. Which looks like an invalid one, but it is actually healthy, resources exists, and I can do my deployments. Looking at the [stack status codes](https://docs.a

[2020-08-13 22:17] awood45 commented on #2136
This should be fixed for all Python invoke images. Please reopen this issue if you see this issue recur. You do not need to upgrade your version of AWS SAM CLI to see the changes on this. However, if you do see the issue recur, please remove your Docker images associated with Python runtime emulation, in case it failed to auto-update.

[2020-08-13 22:20] awood45 commented on #2121
Can you please re-test this with Python 3.7? We have a proposed fix for this out for that image now. You should not need to change your version of AWS SAM CLI. (This also has been updated for Python 3.6, Python 2.7, and .NET Core 2.1)

[2020-08-13 23:20] nardonef commented on #2136
@awood45 Still getting this on aws sam start api after re pulling the docker images

[2020-08-14 00:18] BR0kEN- commented on #2121
Still doesn’t work. Cron triggers a build on a daily basis so you can open Travis next time to see whether the issue is fixed.

The last build is https://travis-ci.com/github/BR0kEN-/aws-sam-cli--build-travis/builds/179466969

[2020-08-14 02:36] leo731121 commented on #2143
After I installed sam local v0.53.0. Everything works now!

git clone https://github.com/awslabs/aws-sam-cli
cd aws-sam-cli
git checkout tags/v0.53.0
python3 setup.py install
sam --version

I think the major issue is docker image. v0.53.0 will fetch lambci/lambda:java8 docker image . Instead v1.0.0 will fetch amazon/aws-sam-cli-emulation-image-java8   rapid-1.0.0.
Even i changed the policy or role

[2020-08-14 14:49] johnc44 commented on #2136
@awood45 - upgraded to 1.1.0 and it's worse for me.  I now get this when I call a locally running API:

'Invoking main.lambda_handler (python3.6)\n'
b'Image was not found.\n'

So going back to 0.53.0.  Not sure if this is just a new issue or whether it's just aprt of the same thing.

[2020-08-14 16:44] c2tarun commented on #437
[Solution](https://github.com/awslabs/aws-sam-cli/issues/437#issuecomment-568189154) provided by @nevtum works for `/` path. Thanks @nevtum.
I am closing this issue, if anyone have questions please feel free to open.

[2020-08-14 16:44] #437 closed

[2020-08-14 16:55] c2tarun commented on #1845
Hello @beck3905, we have released fix for this issue in our [release 1.1.0](https://github.com/awslabs/aws-sam-cli/releases/tag/v1.1.0). Can you please confirm once if this works for you?

Thanks
Tarun

[2020-08-14 18:40] mrpatrick commented on #2136
installed from scratch and getting this same error

[2020-08-14 19:47] awood45 commented on #2136
Reopening while we try to reproduce issues with the new images.

[2020-08-14 20:10] awood45 commented on #2136
Question for those still seeing issues: Can you please return the output of the following command?

`docker images | grep emulation`

For me, I get the following:

[code]

One of our operating theories is that older images are getting cached somehow. The output of this command will help us to confirm/deny that hypothesis.

[2020-08-14 20:12] awood45 commented on #2136
@johnc44 Can you give more detailed reproduction instructions? That looks like a separate issue but I'd like to try and reproduce that ASAP. I'm also interested in your `docker images | grep emulation` output.

[2020-08-14 20:46] mndeveci commented on #2148
I confirm that it is failing with other dependencies as well (added Flask as requirement to the application)

[2020-08-14 22:43] prenx4x commented on #2028
This issue is fixed and merged.

[2020-08-14 22:43] #2028 closed

[2020-08-14 22:46] wchengru commented on #2018
PR is released.

[2020-08-14 22:46] #2018 closed

[2020-08-14 22:46] wchengru commented on #2034
PR is released.

[2020-08-14 22:46] #2034 closed

[2020-08-14 23:11] mbuotidem commented on #2136
@awood45  I switched back to 0.53.0 but to help out I installed 1.0.0 again. This is the result of `docker images | grep emulation` before installing 1.0.0.

[code]
And this is the result after installing it:
[code]

So yes, It no longer throws the `Unable to import module 'app': No module named 'boto3'` error, but I think there are probably still issues with the latest image. For example, I tried

[2020-08-15 09:38] mg98 commented on #2095
Me too, I'm getting the message on function invocations..

[code]

Using various quick start templates for nodejs12.x

[2020-08-15 13:17] plantusd commented on #1424
is there any ETA on the issue?

[2020-08-15 13:44] dudecowboy commented on #805
Here's another perspective.  I'm using node.js, but the issue appears to be the same.  The key issue is how long it takes every time a developer makes a single code change and wants to run and test it.

Here is a simple way to reproduce the issue:
1) run 'sam init'
2) choose 1,1 (sets up from a node.js template)
3) choose a project name
4) choose 8 - Quick Start: Web Backend
5) at the command prom

[2020-08-16 21:58] Tilko commented on #923
me too (on WSL2), rebooting virtual ubuntu and even windows didn't solve it :(

[2020-08-17 05:28] terrywarwar commented on #353
When running `local start-api` could you build the invoked function defined in `CodeUri` before mounting to Docker .  Running `sam build` every time is slow when you have large number of functions defined.

[2020-08-17 11:50] johnc44 commented on #2136
@awood45 - just tried upgrading to 1.1.0 again and it is now working.  But for reference here's the info you requested:

Before upgrading to 1.1.0 again I ran docker images | grep emulation

amazon/aws-sam-cli-emulation-image-python3.6                           rapid-1.1.0         aeb97e10d7c5        2 days ago          849MB
amazon/aws-sam-cli-emulation-image-python3.6                           l

[2020-08-17 15:45] steve-a-jones commented on #2165
My issue was centered around the fact that we run a dockerhub registry mirror  -- all requests to dockerhub are blocked.

The fix for me was to configure our registry mirror in `~/.docker/daemon.json` :

[code]

This will proxy the docker requests through our registry host and everything works out fine.
@c2tarun -- This might be useful to include the docs and I'm sure many are sitting by corporate

[2020-08-17 16:22] awood45 commented on #2136
@mbuotidem What kind of credentials are you using when you run local testing? That error does not look like it should be a Docker/image issue, and we've been trying without success to reproduce the error. Any other information you have about how you got that error would be helpful.

@johnc44 No worries, do let me know if it returns and we can try to reproduce.

[2020-08-17 16:31] mingkun2020 commented on #424
@brentpabst , Thanks for reporting this issue and sorry for delayed response. We use Flask to generate an http server for `sam local start-api`. When Flask generates the response, it auto fills the server header. Flask does not offer a way to remove/or not add the server header to the response. As a workaround you can test this in the cloud and that works as expected. I am closing this issue for n

[2020-08-17 16:31] #424 closed

[2020-08-17 19:35] awood45 commented on #2121
@BR0kEN- we think this should be fixed, yet I can see that your Travis builds continue to fail. We want to eliminate the possibility that images are somehow being cached and that you're getting the latest images. Can you add this command to your build before AND after you run your sam commands?

`docker images`

Just want to see what the output is.

[2020-08-18 07:51] BR0kEN- commented on #2121
@awood45 added. `sam build` doesn't download the image. The `docker images` after `sam build` shows nothing. You can compare with the other builds in the matrix (sam 0.53.0 and explicit `docker pull`) where the output exists.

[2020-08-18 18:00] loscil06 commented on #1424
Doing this combined with pipx looks like it works, try:
`pipx install aws-sam-cli`

[2020-08-18 18:43] harshchau opened #2175 "Support pre-built layer archives in the start-api command"
### Describe your idea/feature/enhancement

Stack: Python, APIGateway, Lambda
When we use `sam local start-api --use-container`, we usually use it to make sure the dependencies get built on the right platform. But if we use `--use-container`, changes to the code are no longer picked up automatically, making the start-api feature less useful as we have to kill the local server and restart to refres

[2020-08-18 20:12] sarpdoruk commented on #896
+1 Just to raise awareness. People need this, it is impossible to test websockets locally.

[2020-08-18 22:21] jondavidjohn commented on #973
@jfuss The problem here is that `--use-container` is not adequate because the container it is referencing does not have the native libraries present (in the case of postgres, the libpq-fe.h header).

Is there currently a story for adding system packages (like postgres packages) to our lambda containers via SAM?  How would one add a dependency on a system-level package?

[2020-08-18 22:29] jondavidjohn commented on #973
Is it possible to use a Dockerfile in conjunction with AWS SAM to augment the container used by a layer?

[2020-08-19 08:43] ohayak commented on #2143
I confirm this problem on MacBook using aws sam v1.1.0

[2020-08-19 10:52] oleksandr-lysenko commented on #2069
The same error for me (it was Ok last week).
Is there a way to use an older version of container when run "sam build", "sam local invoke" commands?

[2020-08-19 13:40] dsandor commented on #2064
Here is my work around.  It is not pretty but it works.

First, use `npm link` or `yarn link` on your local node modules.

Next, set the `dependencies` section in your lambda's `package.json` to a path that is relative to the Lambda Function Code Folder under `.aws-sam`.

My folders look like this:
[code]

So I start by going into the `local-modules/data-layer` directory and running `yarn link`.
N

[2020-08-19 18:54] whiteshadoww commented on #858
I will switch from SAM to Serverless if this is not returned to the backlog

[2020-08-19 19:19] danielclariondoor commented on #1251
I'm still having this issue with
aws-cli/2.0.41 Python/3.7.4 Darwin/19.5.0 exe/x86_64
SAM CLI, version 1.1.0

[2020-08-19 22:27] mbuotidem commented on #2136
@awood45 I used AWS IAM credentials. Really I all I did was import boto3 inside app.py of the provided sam-app and then inside lambda_handler, I tried to list buckets with :
[code]

Since its not a Docker/image issue, I should probably just create a different issue so as not to derail this thread.

[2020-08-19 22:33] awsjeffg commented on #858
@whiteshadoww as you wish! Although Serverless is also a fine tool and if its features fit your needs better, you should consider it.

It has been quite a while since this issue was created and in the meantime the team added support for using makefiles in `sam build`, allowing for various kinds of build customization:

https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/

[2020-08-20 14:13] deanthemachine2 opened #2177 "Unable to run/debug functions locally if they depend on api gateway"
### Description

After upgrading to the new version of the SAM cli and the new version of the AWS toolkit for VS Code, we can no longer run and debug lambda functions locally if they depend on an API Gateway (also created and referenced in the same template.yaml file).  This seems like a regression because this yaml file builds and deploys perfectly in our environments and until the latest version

[2020-08-20 14:16] wlsmark commented on #2177
I have the exact same issue!

[2020-08-20 21:56] awood45 commented on #2165
Reclassifying - this isn't a bug, it's more of a routine info message making it look like something is broken (this concern has been raised quite often). We're working on a fix to have a less concerning message in this case.

[2020-08-21 01:20] LucianViana commented on #2095
Also with problem:
Failed to download a new amazon/aws-sam-cli-emulation-image-nodejs12.x:rapid-1.1.0 image. Invoking with the already downloaded image.

[2020-08-21 03:35] PrakashGoulla commented on #1497
@awood45 Looks like the invite has expired again. Can you please check?

[2020-08-21 07:07] pfigueroax commented on #2095
I had the same problem and I fixed it setting up Docker File Sharing. Add the folder you are working on and restart Docker and that's all
[https://docs.docker.com/docker-for-windows/#file-sharing](https://docs.docker.com/docker-for-windows/#file-sharing)

**Note**: I am getting the same error (_Failed to download a new amazon/aws-sam-cli-emulation-image-nodejs10.x:rapid-1.1.0 image_) but the proce

[2020-08-21 20:42] #672 closed, assigned to nobody

[2020-08-22 13:47] hariharasudhan-nineleaps opened #2179 "Sam build ignores the dist folder"
### Description
I am using sam application with nodejs, i will be using typescript and i have mentioned `dist` folder in `.gitignore` file, now when i run `sam build` the `dist` folder not copying to `.aws-sam` folder, but if i remove dist folder from `.gitignore` its copying correctly, how to resolve this issue

1. OS: Ubuntu
2. `sam --version`: 1.1.0

[2020-08-22 23:00] iRoachie opened #2180 "Set --no-confirm-changeset when CI=true"
### Describe your idea/feature/enhancement

In CI environments, sam deploy will fail if the `--no-confirm-changeset` is not set. Obviously this precaution makes sense when working locally, but in a CI environment, there's no user interaction available to press `Y/n`.

When CI=true is present as ci tools will do (travis/github actions/etc) the `--no-confirm-changeset` should be set to true.

### Pr

[2020-08-23 04:30] #2179 closed, assigned to nobody

[2020-08-24 07:43] flexelem opened #2227 "Getting ValueError: Function name is required after running SAM local start-api"
**Description:**

I am using AWS Toolkit for Intellij on my desktop to run/debug my functions locally which uses SAM behind the scenes. And we are using CDK to build our infrastructure. I create my `template.yml` for SAM with `cdk synth <stack_name> --no-staging > template.yml` if it helps. However, when I run `sam local start-api` on command line and send a HTTP request it fails with `ValueError:

[2020-08-24 11:13] frogamic opened #2181 "Auth.ResourcePolicy.IpRangeWhitelist is malformed when populated from a CommaDelimitedList SSM Param"
### Description

I have a list of IPs that are allowed to execute my function stored in an SSM parameter of type `StringList`. When I pass this parameter to my SAM template as type `AWS::SSM::Parameter::Value<CommaDelimitedList>` (I also tried `AWS::SSM::Parameter::Value<List<String>>`) and reference this parameter in `IpRangeWhitelist` it is expanded to an array within an array.

### Steps to rep

[2020-08-24 20:03] silverfoxf7 commented on #2005
@GarimaBathla try installing `pip install wheels` accord. https://stackoverflow.com/questions/57569718/sam-build-only-completes-successfully-with-use-container-parameter – worked for me

[2020-08-24 20:19] Santiago8888 commented on #1012
The second time I run into this issue, current use cases:
1. Test lambdas on CI/CD envs. without deploying them.
2. Lift multiple API Gateways without opening multiple terminals.

[2020-08-25 10:57] hugopakula commented on #896
+1 for this addition to SAM, it's been 2 years since this feature request and still no solution from AWS for people working with websockets.

[2020-08-25 13:21] jfuss commented on #2156
@pfdtk On `sam package|deploy`, we upload to the region that you are currently deploying to (specified through `--region`, `AWS_DEFAULT_REGION`, or region defined for the profile you are using). The way to upload to multiple regions is to run the `sam package` command in each region you want to deploy too. This is a common practice and allows you to control where things are uploaded too. All comma

[2020-08-25 13:21] #2156 closed

[2020-08-25 13:29] jfuss commented on #2149
@austindimmer The error SAM CLI is getting is something to do with docker-credential-gcloud on your system (which is something we don't control): `docker.credentials.errors.InitializationError: docker-credential-gcloud not installed or not available in PATH`.

The root cause here appears to be about docker-credential-gcloud. Have you tried fixing whatever that is/adding it to the PATH as the error

[2020-08-25 13:35] jfuss commented on #2145
@eliecer2000 Trying to understand a little deeper. Why do you want clients to install your version? Why not contribute said changes here so all customers could benefit?

[2020-08-25 14:15] eliecer2000 commented on #2145
I would like to use the sam bootstrap command so as not to have to use sam deploy --guide since in the code that I give to the client I already specify the parameters in samconfig and I don't need him to modify them.

[2020-08-25 16:53] rojomisin opened #2182 "sam publish mangles the parameters in the UI when trying to deploy, it uses AWS::Events::Rule as a parameter group label"
### Description
Publishing a SAR template using `sam publish`, w/ one of my resources being a `AWS::Events::Rule`, which whatever I name that event resource, ends up being the label that organizes the Parameters in the AWS Console UI when launching the published template.

### Steps to reproduce
- create a sam template w/ parameters
- add in an Events::Rule resource w/ a name
- publish the templat

[2020-08-25 18:17] rojomisin commented on #2054
work around until a file can be used is to wrap w/ shell or make
[code]
load up a config file with k/v pairs and use `make`'s include
[code]
`make sam-deploy CONFIG=dev`

[2020-08-25 22:14] NotSoSuper commented on #1896
Same! My lambdas depend on EFS. If anyone has a workaround or hack to pass in arguments to the docker run command that'd be great for the meanwhile.

[2020-08-25 23:40] michaelschem commented on #2136
I'm still getting this issue after upgrading sam 1.0.0 -> 1.1.0

[code]

[code]

[2020-08-26 01:10] awood45 commented on #2136
Can you share the output of running ‘docker images’ on your machine? You can grep it down to just aws-sam-cli images.

[2020-08-26 01:12] awood45 commented on #2136
Can you delete your ‘:latest’ tag for the Python 3.7 emulation image and re-download? I believe your image might be cached.

[2020-08-26 03:29] tomjowitt commented on #1424
This decision falls well below the engineering standards I've come to expect from AWS. Trying to integrate `aws-sam-cli` into our CI workflows was an exercise in installing a lot of unnecessary software.

Not only does Homebrew override system defaults, but it also requires Ruby to be installed plus a lot of other packages.

For context, our CI system is based on Alpine Linux and has been consiste

[2020-08-26 07:00] benvogan commented on #2143
This wasted 3 days of my time debugging (I am on Windows 10 WSL1).  I can attach to the running docker image and execute my lambda (Go runtime) directly and code I've put into the main function that accesses DynamoDB will work.  However when run with /var/rapid/init that same lambda executable fails.  Something in either the init or the bootstrap has changed and is somehow breaking the security co

[2020-08-26 13:23] asyba commented on #2143
I got same error with SecretManager and AWS CLI 1.1.0 from upgrading from older version

[2020-08-26 15:38] CABellamy opened #2183 "Unable to POST json to lambda via start-api"
### Description

When trying to invoke a lambda via curl POST the event data is not coming through to the lambda. If I invoke using sam cli invoke and passing the json this works fine, but using the same payload as a curl request when using sam cli start-api this payload is not getting through the lambda.
### Steps to reproduce

lambda code:
[code]
template:
[code]

post request:
[code]
Provide st

[2020-08-26 18:30] mooperd opened #2185 "FAILED. Reason: Invalid template property or properties [Schedule]"
Hi, the following template passes `sam validate` but sam build gives me an error:

[code]

Am I doing something stupid?

[code]

[2020-08-26 18:31] cbisaillon commented on #1470
+1

[2020-08-26 18:36] #2185 closed

[2020-08-26 19:23] mooperd commented on #1840
+1

[2020-08-27 00:31] dtelaroli commented on #896
+1

[2020-08-27 17:44] github4es commented on #1736
any updates? I need to invoke a lambda running locally but it is connecting to an S3 bucket that is locked. I need to know how do I add permissions to the S3 bucket so that it lets my lambda running locally to read an S3 object?

[2020-08-27 21:04] mingkun2020 commented on #2161
Hi foibleless, since you used ‘CodeURI’ instead of ‘CodeUri’ in the template and property ‘CodeURI’ is indeed not defined for resource of type AWS::Serverless::Function. So I think the Error message states: “property CodeURI not defined for resource of type AWS::Serverless::Function” is correct. I am gonna close this issue now, if I misunderstood your question or you have other concern, feel free

[2020-08-27 21:04] #2161 closed

[2020-08-27 22:09] awsjeffg commented on #2108
We shipped this, closing.

[2020-08-27 22:09] #2108 closed

[2020-08-27 23:21] awsjeffg opened #2188 "Add the ability to optionally filter sam log output"
as per Ben:
https://twitter.com/ben11kehoe/status/1298959222831366144?s=20

"It annoys me that the Lambda logs policy in SAM still allows access to all log groups, rather than introducing a v2 that would scope it narrowly to just that Lambda’s group "

While we should not change the current behavior of sam log, we could add a command-line option to filter output now and recommend customers add thi

[2020-08-27 23:23] awsjeffg commented on #2188
@benkehoe

[2020-08-28 01:35] yskkin opened #2189 "`sam build --debug` should print outputs from makefile"
### Describe your idea/feature/enhancement

Even if `--debug` option is added to `sam build`, outputs from Makefile cannot see.

[code]

It makes debugging harder for `BuilderMethod: makefile`

### Proposal

[code]

### Additional Details

[2020-08-28 12:29] dwhitla commented on #1424
Nah - its garbage on OSX too. The team chose it because they believed it to be a cross-platform package management solution - which it purports to be but falls short of delivering in a safe and reliable way.

[2020-08-28 13:13] asyba commented on #2143
anyone knows how I can downgrade or install another older version of aws sam cli with brew?

[2020-08-28 17:42] mndeveci commented on #2143
We tracked down the issue and it is only happening in java8 images. java11 or new java8.al2 images doesn't have this bug.
We are currently working on fixing it and release new version of the image. Sorry for the inconvenience.

About downgrading the SAM CLI, I tried to follow couple of brew documents, but I wasn't able to install specific version.

[2020-08-28 17:44] mingkun2020 commented on #2182
Hi rojomisin, I got a message from our premium support team said this is fixed. Is this issue has been resolved?

[2020-08-28 18:07] asyba commented on #2143
thanks, with java11 manage to test aws tool kit and debug works now. I can use this until is fixed.

[2020-08-28 20:06] morefaey commented on #2189
This is related to https://github.com/aws/aws-sam-cli/issues/2006

[2020-08-28 20:07] #2189 closed

[2020-08-28 20:21] morefaey commented on #998
@phijacobs can you please submit this as a PR for review?

[2020-08-28 20:42] morefaey commented on #1838
Closing the issue, and please reopen if the behavior still there

[2020-08-28 20:42] #1838 closed

[2020-08-28 20:49] sriram-mv opened #2191 "Sam Destroy"
* Add a SAM CLI command to help destroy stacks that went into a `ROLLBACK_COMPLETE` state and are un-usable.

### Describe your idea/feature/enhancement

* Needs fleshing out.

### Proposal

Add details of how to add this to the product.

Things to consider:
1. Will this require any updates to the [SAM Spec](https://github.com/awslabs/serverless-application-model)

### Additional Details

[2020-08-28 20:50] morefaey commented on #1865
Closing as we are tracking it in a related issue: https://github.com/aws/aws-sam-cli/issues/2191

[2020-08-28 20:50] #1865 closed

[2020-08-28 20:50] morefaey commented on #1658
Closing as we are tracking it in a related issue: https://github.com/aws/aws-sam-cli/issues/2191

[2020-08-28 20:50] #1658 closed

[2020-08-28 20:59] morefaey commented on #1884
This PR address the feature request: https://github.com/aws/aws-sam-cli/pull/2102

[2020-08-28 21:10] morefaey commented on #2118
@Barlog951 - Could you please reproduce this using 1.1.0 (after we released GA), and with different python version that is different from Python 3.8?
As M@Crypto is not supported with Python 3.8: https://gitlab.com/m2crypto/m2crypto/-/blob/master/setup.py#L391

[2020-08-28 21:19] morefaey commented on #2140
@eliecer2000 can you please use the following parameters as explained here: https://github.com/aws/aws-sam-cli/pull/2102
and let us know if it unblocks you.

[2020-08-28 21:22] sriram-mv commented on #2140
It was not explicitly added to the command collection as it was supposed to be an abstraction for `sam deploy --guided`, but it was always going to be something to be looked in the future.

[2020-08-30 05:51] hikui commented on #923
Add your current user to the docker user group may help.

[2020-08-30 15:25] pragmasoft-ua commented on #188
Invocation payload (request and response) | 6 MB (synchronous)

[2020-08-31 11:27] lausdahl opened #2192 "Sam build for maven ignores groupId which leads to java.lang.NoClassDefFoundError because of missing dependencies"
### Description

Sam build does not produce a valid build because it ignores the groupId in maven artefacts. This means that only one of the  artefacts with the same artifactId but different groupIds will be part of the collected libs in the `.aws-sam/build/function/lib` folder

### Steps to reproduce

Create a maven multi module project where two artifacts have the same name but differnt groupId.

[2020-08-31 15:33] benkehoe commented on #2188
This was a comment about the IAM policy generated for an `AWS::Serverless::Function` resource to allow the function to write logs (and therefore part of the SAM transform), rather than the behavior of `sam log`. In particular, a better IAM policy would only provide permissions to the log group used by that function (note, this is the group that `sam log` fetches from). Currently, the policy allows

[2020-08-31 16:10] phijacobs commented on #998
@morefaey I rebased and will have the PR shortly. Thank you!

[2020-08-31 16:58] a-h commented on #1865
Just for anyone who reads this, the right thing to do here is to destroy the CloudFormation stack and create it again.

You can only get into the ROLLBACK_COMPLETE state when attempting to create a stack for the first time, so there should be no risk of losing data etc.

[2020-08-31 17:50] dtelaroli commented on #1470
+1

[2020-08-31 17:50] dtelaroli commented on #1443
+1

[2020-08-31 18:07] awsjeffg commented on #2188
Great, thanks for the clarification Ben.

[2020-08-31 18:07] #2188 closed

[2020-09-01 08:06] briggySmalls commented on #2135
I've been having this issue also, but it was using AWS IoT, not the secretsmanager.

The workaround also worked for me: adding `AWS_SESSION_TOKEN=""` to the template.yaml.

This is a regression, right? I didn't have this issue until recently.

[2020-09-01 11:16] lausdahl commented on #2192
Can somebody point me to the place in the sources where the maven artefacts is collected and written to file?

[2020-09-01 16:31] #1014 closed

[2020-09-01 17:06] kowalski opened #2195 "Support --acl parameter for sam package"
It would be very helpful if `sam package` command accepted `--acl` parameter. It would be passed on to uploads to S3 done by the client (similarly how `--metadata` works).
This would allow to work with S3 buckets that require specific ACL settings. Currently we need to resort to some tedious workarounds (like allowing more permissive policy, iterating over s3 key under prefix and chaning permissio

[2020-09-01 17:10] BenBraunstein commented on #2153
I am facing a similar issue.
Had a deployed stack with two keys
I then gave those added a prefix to those keys and added two additional keys

Stack fails with `Could not find a value associated with JSONKey in SecretString`

[2020-09-02 01:44] elenasch opened #2196 "Multiple SAM templates deployed to one emulator"
### Describe your idea/feature/enhancement

I have multiple teams developing lambdas. Each has their own SAM template spec.
It would be nice be able to deploy multiple CF stacks (multiple SAM templates) on to one emulator.
When devs develop locally, they  may need to run a bigger applications that potentially is talking to multiple CF stacks with lambdas. So instead of developers having to start a

[2020-09-02 08:29] zhouziyang commented on #2143
@mndeveci I tried python3.6 image, seems same issue occur. I can get worked by hardcode credentials in boto3 API, but failed if using `--profile`.

[2020-09-02 09:51] jorgenfroland commented on #1786
I had the same issue. I have been able to fix this in VS Code by installing a newer version of Powershell (I had version 5 on Win10) and changing the version of Powershell used by VS Code.

The issue (as I have understood it) is that Powershell 5 doesn't have the option to use utf8 with no BOM when redirecting output to a file. ">" is actually the same as using | Out-File in Powershell:

`Use redi

[2020-09-02 15:34] austindimmer commented on #2149
Hi @jfuss

Thanks for your reply. You may be correct but I do not have docker-credential-gcloud on this machine and have no immediate need to install it.

I am not sure why SAM CLI should depend on that being in the path?

Anyway as I mentioned in the issue. I resolved it and moved past with my workarounds. I felt it would be worthwhile to report just in case someone else comes up against this.

I

[2020-09-02 16:31] #1248 closed

[2020-09-02 16:31] #1628 closed

[2020-09-02 16:31] #1786 closed

[2020-09-02 18:28] AgentGoldenPaw opened #2197 "Nested Stacks"
### Describe your idea/feature/enhancement

I wish SAM CLI would allow !Sub on a Serverless::Function.Layers.

I use nested stacks pretty heavily and I am trying to use a global layer described in the master template and pass the ARN to a nested stack and then attach to a function.

### Proposal

https://github.com/aws/aws-sam-cli/blob/develop/samcli/lib/providers/sam_function_provider.py#L271

Ca

[2020-09-02 18:48] jveldboom commented on #2054
We use a similar pattern to @rojomisin but use a standard environment variable file format.

.sam-params
[code]

Then in our Makefile, we `cat` that file and pass them in as `--parameter-overrides`

[code]

[2020-09-02 22:03] th3g3ntl3men commented on #2197
I looked into, I would love to learn more about the inner workings and contribute. But I am having trouble figuring out where parsing of the template occurs. (Not a python developer.)

[2020-09-02 22:18] mndeveci commented on #2129
Resolving this since it is released with [1.1.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.1.0)

[2020-09-02 22:18] #2129 closed

[2020-09-03 03:00] mdkotafutami commented on #1470
+1

[2020-09-03 07:49] asito478 commented on #364
You have this bug if you use the console, but if you use CLI you must not have this problem.

[2020-09-03 13:30] ahafid1 opened #2199 "API gateway: variabilize a openapi file and pass arguments to it"
According to the documentation (link below), we can recover the three variables in the openapi file  (AWS::AccountId, AWS::Partition & AWS::Region).

Is this list frozen or we can use other custom variables ?

I use AWS CLI for import Openapi file.

https://docs.aws.amazon.com/apigateway/latest/developerguide/import-api-aws-variables.html

Thank you

[2020-09-03 13:49] deanthemachine2 commented on #2177
Any updates on this? This is preventing us from testing any of our functions locally.

[2020-09-03 15:47] hawflau commented on #2062
The two zip files are not exactly the same.

Package from a console upload (leads to Expected Result):
[code]

Package from a SAM deploy upload (leads to Observed Result)
[code]

We might need to investigate on how the zip files are prepared during `sam deploy`.

[2020-09-03 18:47] aaronlelevier commented on #2027
Hi, can you say how you solved this? I am stuck on the same error.

I am on version 1.0.0

[2020-09-03 19:06] elenasch commented on #1271
I have a very similar use as as @netochaves , with exception of running `sam local start-lambda ` . Is there any word on making this happen ?
I'm worried that without this, my team won't be able to scale development with lambdas

[2020-09-03 20:06] destinyb-realityi opened #2202 "Package Layer: No such file or directory"
### Description

I have a custom `AWS::Serverless::LayerVersion` in my SAM local template used to add the `git` binary to my docker container. However, when I go to run `sam package ...` I'm getting an error that it cannot upload the artifacts because files do not exist. I have determined this is a problem with the symbolic links created when running `sam build` but I'm not sure how to get around

[2020-09-03 21:08] mndeveci commented on #2143
@zhouziyang can you write down the steps to reproduce the issue?
For java8 example, running following command for a lambda function (which lists s3 buckets in your account) fails;
`AWS_ACCESS_KEY=<> AWS_ACCESS_KEY_ID=<> AWS_SECRET_KEY=<> AWS_SECRET_ACCESS_KEY=<> sam local invoke`

[2020-09-03 21:57] #1164 closed

[2020-09-03 21:57] #2031 closed

[2020-09-03 23:33] Ghilteras commented on #2143
Can we please update the issue description? This is not a specific problem with DynamoDB, but a generic key ingestion problem on the SAM container.

[2020-09-03 23:49] hawflau commented on #2062
@AChenny It turned out that the Observed Result was due to non-executable binaries in `PopplerLayer`, as you can see there is no `x`(executable) in the second list above. After adding back the permissions and updating the `LayerVersion`, I achieved the Expected Result.

I also reproduced the results on Windows, and found that the `x` permissions were stripped in the created `LayerVersion`. However

[2020-09-03 23:49] #2062 closed

[2020-09-04 16:59] mndeveci commented on #939
Closing this as [SAM CLI v1.2.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.2.0) released, including updated aws-lambda-builders.

[2020-09-04 16:59] #939 closed

[2020-09-04 17:01] mndeveci commented on #2154
Released with [SAM CLI v1.2.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.2.0)

[2020-09-04 17:01] mndeveci commented on #1940
Released with [SAM CLI v1.2.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.2.0)

[2020-09-04 17:01] #1940 closed

[2020-09-04 17:02] mndeveci commented on #2165
Released with [SAM CLI v1.2.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.2.0)

[2020-09-04 17:02] #2165 closed

[2020-09-04 17:03] mndeveci commented on #2110
Released with [SAM CLI v1.2.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.2.0)

[2020-09-04 17:03] #2110 closed

[2020-09-04 17:04] mndeveci commented on #1884
Released with [SAM CLI v1.2.0](https://github.com/aws/aws-sam-cli/releases/tag/v1.2.0)

[2020-09-04 19:29] heffergm commented on #2154
FYI, this has fixed a majority of what I originally reported (thanks!).

I do notice, however, that I'm still getting the same sort of thing happening when using layers:

[code]

So rather than a full stack changeset being created, we get a minimal changeset created only related to the application of a layer. I'm wondering if there's something similar going on related to the packaging of layer dep

[2020-09-04 19:39] mndeveci commented on #2154
@heffergm thanks for reporting issue with Layers. Would you able to provide us example project that we can use to re-produce this? I am asking because we weren't able to reproduce original issue with functions in the beginning.

Thanks!

[2020-09-04 21:08] awood45 commented on #2180
The feature request here is possible for looking at an ENV variable, but there's a conflict here. By default, we don't ask users to confirm their changesets on deployment. Do you have a `samconfig.toml` file present? What is the full command you are running?

[2020-09-04 21:12] iRoachie commented on #2180
The command i'm running is sam deploy.

Full output from terminal:

[code]

[2020-09-04 21:16] #2180 closed, assigned to nobody

[2020-09-04 21:18] awood45 commented on #1762
I actually do not think we should do this, for forward compatibility reasons.

The issue here is, if AWS Lambda increases the maximum timeout, local invokes would continue to break. Server side validation for this seems appropriate, and given that there isn't a programmatic way for the SAM CLI to determine the max timeout, failing upon deployment to me actually seems correct.

[2020-09-04 21:18] #1762 closed

[2020-09-04 21:20] heffergm commented on #2154
At the moment, I'm unable to do so using my original test case as a template. I'll need to dig into it more at some point...

[2020-09-05 05:05] phijacobs commented on #998
Hi @morefaey, I created PR #2205

[2020-09-05 13:48] heffergm commented on #2154
@mndeveci go ahead and close this, I can't reliably reproduce the layer issue. If I can come up with a working test case I'll open a new ticket and reference this. Thanks for humoring me!

[2020-09-06 11:55] pyohei commented on #896
+1

[2020-09-06 18:12] jmalins opened #2206 "KeyError when using root-level `Fn::Transform` is Resources block"
### Description ###

https://github.com/aws/aws-sam-cli/blob/0b22b1725a540a34b5d981d062edd1b138e245a1/samcli/lib/warnings/sam_cli_warning.py#L75

This code fails with a `KeyError` if a transform block is used to import CFN resources from an external file, as in the following example:
[code]
The Fn::Transform tag does not have a `Type` key.

### Observed Behavior ###

I get the following error when

[2020-09-06 18:43] jmalins commented on #2206
For anyone receiving this error, I found a temporary workaround.

It appears CFN ignores additional properties added to the `Fn:Transform` tag. One can therefore do this:
[code]

[2020-09-07 17:07] mndeveci commented on #2197
Hi @th3g3ntl3men , can you explain your feature request in a little bit detail, giving some examples with it?

[2020-09-07 17:25] mndeveci commented on #2199
Hi @ahafid1 , the variables that you pointed is exported by the CFN/SAM to substitute some of the internal information with the running stack.

If you want to use custom variables in your template, both SAM and CFN has parameters in the template definitions. See documentation here; https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-specification-template-anatomy.htm

[2020-09-08 23:46] mikezang opened #2208 "sam build with UnicodeDecodeError: 'utf-8' codec can't decode byte 0x91 in position 565: invalid start byte"
### Description
I installed SAM CLI, version 1.2.0, and run sam build and get error as below:

.UnicodeDecodeError: 'utf-8' codec can't decode byte 0x91 in position 565: invalid start byte

### Steps to reproduce
command: sam build

### Observed result
Telemetry endpoint configured to be https://aws-serverless-tools-telemetry.us-west-2.amazonaws.com/metrics
'build' command is called
No Parameters

[2020-09-09 01:28] leo731121 commented on #2143
hi, mndeveci,

I used git to checkout tags/v0.53.0 and used python to downgrade sam local.
The below is the script

git clone https://github.com/awslabs/aws-sam-cli
cd aws-sam-cli
git checkout tags/v0.53.0
python3 setup.py install
sam --version

I wasn't able to install specific version via brew ,either.

[2020-09-09 01:51] leo731121 commented on #2143
hi, @mndeveci,
How do i run the command?
I'm developing the java 8 (openJDK8)lambda functions in Eclipse.
The project is a AWS Cloudformation project and the lambda functions  are  invoked by API Gateway.
I can run the lambda triggered by API Gateway but it occurs the issue when the sam local  use version 1.0.0+.
Even use the cmd `sam local start-api` with `--profile`, the issue remains.

[2020-09-09 01:58] leo731121 commented on #2143
hi, @Ghilteras ,

It would be thankful if you could update the description.
Please give some advice for the description.

[2020-09-09 06:42] zhouziyang commented on #2143
@mndeveci Hi, sorry for late reply. I'm running with command `sam local invoke <Func> -d <Port> -t <Template> --profile <Profile> --region <Region> --debug -e <Event.json>`; I already store AWS credentials in `~/.aws/credentials`, and checked ENV variables (AWS_ACCESS_KEY etc.) populated correctly during debugging. the docker image used: `amazon/aws-sam-cli-emulation-image-python3.6@sha256:d1c38db

[2020-09-09 13:26] mikezang commented on #2208
Anyone can help me?

[2020-09-09 18:32] mrvladis commented on #49
@david-christensen Thanks a lot for you post. That workaround worked for me as well!

[2020-09-09 18:48] researchdeveloping commented on #2012
The problem still exists for the newer version of Docker and SAM CLI.

[2020-09-09 20:01] Borduhh commented on #896
+1

[2020-09-09 20:48] wchengru commented on #2208
Looks like your requirement.txt is not UTF-8 encoding, and pip requirement file needs to be UTF-8.
I can reproduce this issue by adding the ANSI character "`0x91`" into the `requirement.txt` file.
Run:
[code]
and get:
[code]
My suggestion is converting the requirement file to UTF-8 and it will resolve this pip issue.

[2020-09-10 00:18] mikezang commented on #2208
my hello_world/requirements.txt only inlucde "requests", I think they are the same both utf-8 or shift-jis.
Anyway, I followed your suggestion to save that file in utf-8 then run 'sam build --debug' again,
I got the same result as below:
![requirements txt](https://user-images.githubusercontent.com/1030268/92667296-83a35080-f346-11ea-9e2b-1fcfcbb85e6d.png)
![samBuildError](https://user-images.gith

[2020-09-10 02:56] mikezang commented on #2208
After run `sam init` again,
![samInit](https://user-images.githubusercontent.com/1030268/92676503-a476a080-f35c-11ea-906e-3ae14defdda9.png)
then run `sam build --debug`, now error has changed to `aws_lambda_builders.workflows.python_pip.packager.NoSuchPackageError: Could not satisfy the requirement: requests`.
![samBuildDebugError](https://user-images.githubusercontent.com/1030268/92676402-6843400

[2020-09-10 03:22] mikezang commented on #2208
I am behind of Proxy, is this has any problems?

[2020-09-10 04:41] #758 closed

[2020-09-10 04:42] carpnick commented on #1840
+1
[code]

[2020-09-10 04:48] mikezang commented on #2208
After proxy and trusted as below to `%APPDATA%\pip\pip.ini`,

trusted-host = pypi.python.org
               pypi.org
               files.pythonhosted.org
proxy = http://my-proxy.com:80
run `sam build` is successful.
![samBuildSuccessful](https://user-images.githubusercontent.com/1030268/92682823-418d0580-f36c-11ea-972e-93cee3ddae83.png)

[2020-09-10 07:54] cfoehrdes commented on #1081
This is also causing an issue for us when using sam local invoke in combination with other tooling.
It would be very helpful to get a Non-Zero exit code from `sam local invoke` in case the invoked function crashes with Non-Zero code.

[2020-09-10 09:57] rrlino-sage commented on #1069
Hey guys, just curious what is the stage/pm-review? should we expect this soon?

[2020-09-10 10:25] jsundy commented on #1963
you don't need to add all your lambdas into one directory. See https://github.com/aws-samples/aws-serverless-samfarm/issues/5#issuecomment-386350501

[2020-09-10 17:42] kstro21 opened #2210 "sam deploy is showing parameters with NoEcho: true"
### Description

If I add a parameter to my template and set the `NoEcho` option to `true`, then, when I run `sam deploy` with `--parameter-overrides` I can see the value of the parameter in the command output.

### Steps to reproduce

1. Add a parameter with `NoEcho: true`
[code]
2. Invoke `sam deploy` like this:
[code]

### Observed result

[code]

### Expected result

I shouldn't see parameters

[2020-09-10 19:49] hawflau commented on #1392
As I tried and could not reproduce the issue in Ubuntu and in MacOS, I think the problem is Windows-specific.
As @OscarVanL said above, `DEVELOPMENT_GUIDE.md` is quite unfriendly to developers on Windows. We could have a friendlier development guide for Windows users, and also need to address some Windows-specific errors.
This issue didn't get any update for a while... I will pick up this issue an

[2020-09-10 22:16] th3g3ntl3men commented on #2197
template A:
[code]

template b:
[code]

Template B breaks because If the value for a layer is a string, the code assumes it's a ARN. Basically I want my layer managed by my root stack, but be able to share the ARN dynamically across my nested stacks.

Does that make sense?

[2020-09-11 00:37] qingchm commented on #2177
Hey are you using a windows machine for local runs as well?

[2020-09-11 01:38] jthomerson commented on #789
Adding my 👍 to this. Especially for wooing Serverless Framework users over, this will be important - we're used to `sls deploy` and `sls remove`

[2020-09-11 01:41] jthomerson commented on #901
@jfuss I understand now that this is intended behavior, but could I suggest that you at least re-word the output of the `local start-api` command? It [caught me, too](https://twitter.com/jthomerson/status/1304230867657777152)

Eventual hot-reloading would be nice, but for now, please don't confuse brand new users with the message that implies hot-reloading.

[2020-09-11 02:27] alex-nishikawa commented on #901
The confusion is that `sam local start-api` will always pull from the .aws-sam folder IF it exists.  If you remove that folder you really do have hot-reloading, i.e. any saved code changes will be reflected in the lambda WITHOUT having to call `start-api` again.

This was confusing though, and I can't remember if the documentation mentions this.

[2020-09-11 02:48] jthomerson commented on #901
Fascinating. Thanks for the tip @alex-nishikawa! I still think that message in the SAM start-api output should be more clear about this, but at least now I learned 😁

[2020-09-11 13:28] sboettger commented on #789
Thumbs up for this one!

[2020-09-11 13:47] aliabas7 commented on #2153
This is happening with regular CFN templates too, Ben's workaround helps but majorly frustrating for large teams where figuring out the removed key(s) isn't so hassle free.

[2020-09-11 16:43] knplnl opened #2213 "Build a function without clearing the build directory."
### Describe your idea/feature/enhancement

I wish sam build would not clear the build directory when building a specific lambda function in my template.

### Proposal

Currently, running `sam build` clears the build directory and builds all the functions and layers in the template. There is an option to build a specific function in the template:
```sam build [OPTIONS] FUNCTION_RESOURCE_NAME```
Ru

[2020-09-11 18:07] rmundkowsky opened #2214 "Failed to install AWS-SAM-CLI on AWS Linux"
### Description

sam fails to run after being installed.

### Steps to reproduce

sam --version

### Observed result

Traceback (most recent call last):
  File "/home/linuxbrew/.linuxbrew/bin/sam", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3.7/site-packages/pkg_resources/__init__.py", line 3147, in <module>
    @_call_aside
  File "/usr/lib/python3.7

[2020-09-11 19:17] Globebyte commented on #896
+1

[2020-09-11 20:20] qingchm commented on #1541
Hey just wondering, can you specify any use case such that the --template option to specify the location of the template file cannot satisfy your needs that a --base-dir option is needed? I would love to hear the rationales behind it, since in my opinion --template and --base-dir fulfill similar needs for you. Thanks!

[2020-09-11 20:43] qingchm commented on #2177
Hey so I wasn't able to reproduce issue, didn't have the same issue as both build and local invoke succeeded (on windows and macOS too). Also updated the indentation for your yaml code file part mentioned in this issue, can you take a look if you have the same indentation for your yaml file? If yes then would you mind sending me the entire template file so that I can learn more about why you would

[2020-09-11 21:11] wchengru commented on #2214
This may happens when multiple version are installed at the same time.
Can you provide how you install aws-sam-cli and python3.7? For example, install by brew, and the steps you install them.
If you install through brew, can you please try reinstall them?

[2020-09-11 21:18] wchengru commented on #2213
This issue is related #805
As a work around, you can doing a sam build instead of the individual one.

[2020-09-11 21:28] cmsImagine commented on #2135
@briggySmalls workaround worked for me running locally.

When deploying to AWS I got this error:

                                                                                                                                                            variables because the environment variables you

[2020-09-11 21:35] wchengru commented on #2208
Output of the pip or other packages should be improved to give more informative installation errors. Related issue for this: https://github.com/aws/aws-lambda-builders/issues/197

[2020-09-11 21:35] #2208 closed

[2020-09-11 21:53] wchengru commented on #2196
Could you please explain more about this? Some example templates would also be helpful. Thanks!

[2020-09-12 00:22] #1392 closed

[2020-09-12 17:05] deanthemachine2 commented on #2177
Hi @qingchm thanks for taking a look! Here's a full version with fake ARNs in our parameters.  We really appreciate any help!

`
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31

Globals:
  Function:
    Timeout: 60
  Api:
    Cors:
      AllowMethods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
      AllowHeaders: "'Accept-Encoding,Content-Encoding,Content-Type,X-Amz-Date,Au

[2020-09-12 17:06] moderatelyfunctional opened #2216 "SAM Local Not Loading ARN Layer"
### Description
AWS Sam Local fails to find statically built `FFmpeg` ARN Layer.

### Relevant Details
The relevant section in the `template.yaml` is shown below.
[code]

In `lambda_handler` function, the relevant section is `subprocess.call(['/opt/bin/ffmpeg', '-i'])`.

#### Other Details
The `/opt` directory is empty which suggests the ARN isn't loaded.
However, I can add the ARN to the Lambda i

[2020-09-12 17:12] starpebble commented on #2214
I agree, the aws-sam-cli installation process is crippled on amazon linux.  I don't have an official fix.  Please kindly consider this procedure to work around the problem.  The problem to work around is that brew installs sam-cli and configures it to use the exact python version also installed by brew.  Here's are unofficial instructions to configure aws-sam-cli to uses python3.7:

1. Install hom

[2020-09-12 18:52] moderatelyfunctional commented on #2216
For anyone else with the same problem, the layer needs to defined in the same function as the API endpoint.

[2020-09-12 18:52] #2216 closed

[2020-09-12 20:49] pcolazurdo opened #2217 "Failure to install AWS-SAM-CLI v.1.2.0 on a Amazon Linux 2 instance."
### Description

Failure to install AWS-SAM-CLI v.1.2.0 on a Amazon Linux 2 instance.

### Steps to reproduce

I followed https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-install-linux.html

[code]
### Observed result

Trying to run with --debug gives me the same as above

### Additional environment details (Ex: Windows, Mac, Amazon Linux etc)

1. O

[2020-09-12 21:38] Arnaldo-Manjate commented on #1424
HI @jfuss

so 3 Months later is there any update on a solution for the linux community ?

[2020-09-12 22:56] rajanpanchal commented on #923
I also need solution..  getting same error
`sam local start-api
Error: Running AWS SAM projects locally requires Docker. Have you got it installed?
`

[2020-09-13 02:19] wchengru commented on #2217
Similar issue is also mentioned in #2214
Force reinstall python3.7 may resolve this: https://github.com/aws/aws-sam-cli/issues/2214#issuecomment-691518624
Root cause of it is under investigation.

[2020-09-13 09:09] iRoachie commented on #2191
Should this just do the functionality of [cloudformation delete-stack](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/delete-stack.html)?

[2020-09-13 21:28] pcolazurdo commented on #2217
Thanks. I can confirm that this workaround worked fine. I'll try to dissect the problem and share my findings

[2020-09-14 14:24] rmundkowsky commented on #2214
running "brew reinstall python@3.7" seems to have fixed it.

[2020-09-14 15:38] starpebble commented on #2214
@rmundkowsky Neat. Happy trails. The simple workaround is kinda like the hidden arts of brew.

[2020-09-14 22:24] qingchm commented on #2177
Interestingly I couldn't reproduce the issue using your template. Did you try uninstalling the samcli completely and reinstall the newest version? A reasonable guess is that something was corrupted when you updated the samcli, that I would not suspect a newly installed samcli to have the same issue. But please let me know if this doesn't fix your issue, then we can discuss further on why this is h

[2020-09-15 01:37] deanthemachine2 commented on #2177
@qingchm Unfortunately this didn't solve the issue. I just tried it, plus I've had this issue on 2 brand new installs on different machines.  I am trying to think of all the other dependencies that could be at issue here - I've ruled out docker.  Do you think it's potentially something wrong with the template we use to launch events with the vs code aws toolkit?  I guess that would mean I am in th

[2020-09-15 09:14] jchirschy commented on #1544
Hello,

I confirm that optional dependencies are still added with the following configuration :

- Node v12.18.2
- SAM CLI, version 1.2.0

It works fine with :

- Node v8.9.4
- SAM CLI, version 1.2.0

Any idea ?

[2020-09-15 09:44] naddika opened #2219 "sam deploy hangs"
I'm trying to run a demo from the Chime repo. As a part of deployment process, `sam deploy` command is called:

**Current result**

[code]

And it hangs. I waited for 10-30 minutes and nothing happened.

**Expected result:**

some output

**Note**

When I re-run this command with the **same name of stack**, it'll fail in the process, in some 30 seconds,  which implies that it at least works:

[cod

[2020-09-15 13:01] sn0wcat commented on #2012
I also have a problem with sam build, and it is occuring every time once `sam local invoke` was called:

[code]

[2020-09-15 13:34] scottmurs commented on #2143
I am also experiencing this issue with a Go Lambda that downloads files from S3.

[2020-09-15 13:47] aprilmintacpineda opened #2220 "Environment.Variables not being passed to functions"
### Description

I want to set `process.env.SYSTEM_EMAIL`.

[code]

### Steps to reproduce

- Please see yaml file above.
- do sam local start-api

### Observed result

`console.log(process.env.SYSTEM_EMAIL);` is undefined

### Expected result

`console.log(process.env.SYSTEM_EMAIL);` should be what was set on yaml file

### Additional environment details (Ex: Windows, Mac, Amazon Linux etc)

1. O

[2020-09-15 14:57] misk0 commented on #896
Hi, I would like to develop this feature. I already read developer and contributing guide (also other links and document available in repo) and I have some ideas but I would like to talk with some core team member to get right directions. How can I get in touch with someone? AWS Slack invitation unfortunately doesn't work. @jfuss @sanathkr @sriram-mv @awood45
Thanks

[2020-09-15 15:25] fredski02 opened #2221 "Error while loading shared libraries: libpython3.7m.so.1.0: cannot open shared object file: No such file or directory."
### Description

I used the instructions from this guide https://docs.stackery.io/docs/workflow/local-development/#deploy-your-initial-stack to install sam-aws-cli using brew.

When i run "sam" in my CLI i  get

[code]

### Steps to reproduce

- Use Windows 10 with WSL
- Follow the install guide linked above when it comes to aws-sam-cli. once aws-sam-cli installed, restart bash and you should get

[2020-09-15 15:50] #2221 closed

[2020-09-15 15:51] fredski02 commented on #2221
got it working. just had to ❯ sudo apt-get install libpython3.7-dev

[2020-09-15 16:18] kstro21 opened #2222 "sam build and sam local invoke differences regarding of LaverVersion in NodeJS"
### Description

`ContentUri` property of `AWS::Serverless::LayerVersion` behaves differently depending on the command used and it is annoying.
Currently, I have to use 2 different values, once to `sam local invoke` and another to run `sam build`.

### Steps to reproduce

Here is the layer definition.
[code]
Notice I'm using `BuildMethod` to build the layer when invoking `sam build`. The `dependen

[2020-09-15 19:23] CoshUS commented on #2145
@eliecer2000 Method to install in production depends on your client's environment. SAM-CLI will work just fine if you package your version and let your clients run it with python. As for binary installation, there are different tools to build python projects for different OS. You can look into PyInstaller if that's what you want.

[2020-09-15 19:23] #2145 closed

[2020-09-15 21:05] kaihendry opened #2223 "sam local start-api unworkably slow"
**Steps to reproduce the issue:**
1. sam init --runtime go1.x --name go-sam-sanity (using default hello world template)
2. make
3. sam local start-api

**Observed result:**

5s to run a hello world?!

<img src="https://s.natalian.org/2020-09-12/5s.png">

**Expected result:**

A fast workable local development workflow

* SAM CLI, version 1.2.0
* Archlinux using latest packages
* https://s.natalian

[2020-09-15 23:40] qingchm commented on #2220
@aprilmintacpineda Hey did you have the same problem before (I mean with previous versions of samcli)? Just tried your template with samcli 1.1 and the process.env.SYSTEM_EMAIL was logged just fine on my macOS! If this is a problem specific to samcli 1.2 then I will investigate on this further, if this has been a recurring problem for you then we can discuss further on the potential cause! Thanks

[2020-09-15 23:42] aprilmintacpineda commented on #2220
@qingchm this is my first time using SAM CLI...

[2020-09-15 23:47] qingchm commented on #2220
@aprilmintacpineda ah I see, then I'll first try to do it with samcli 1.2 to see if I can reproduce your problem, if not we can discuss more on what's causing the problem for you! I'll get back to you on this tomorrow!

[2020-09-16 17:10] qingchm commented on #2220
@aprilmintacpineda Hey just ran it with 1.2.0 and still worked fine. So I guess we need to see what's causing the problem for you. Would you mind letting me take a look at your src/dependencies and probably the js file that you tried to log your env var? Thanks!

[2020-09-16 20:42] jechen95 commented on #1740
@JMRolf-Spok I'm having this issue but with sam local start-lambda. Can you elaborate on what you've updated in your launch.json?

[2020-09-16 21:48] amarquezp commented on #2045
this worked for me, thanks

[2020-09-16 22:27] 17dagu-irnz commented on #1380
@djm and @thevikasthakur, thanks, installing **wheel** fixed the issue

[2020-09-16 23:12] jfuss commented on #2227
@flexelem It looks like you have found figured this out: https://stackoverflow.com/a/63713747

[2020-09-16 23:14] #2227 closed

[2020-09-17 06:43] DominusVilicus commented on #896
Bump

[2020-09-17 07:28] flexelem commented on #2227
@jfuss Thanks for the clear explanation but what is the optimal way to spin up all functions along with API Gateway? Should I implement my own router and run invoke commands from there? Or is there another tool I can use for local testing? The problem is I can't just change aliases to functions from my CDK code just for testing and revert it. Thanks!

[2020-09-17 16:39] th3g3ntl3men commented on #2197
@mndeveci just pinging you so this doesn't go stale. Does the above provide more clarity on what I am hoping to do?

[2020-09-17 17:25] qingchm commented on #2177
@deanthemachine2 Unfortunately still could not reproduce the issue that you had, have you tried to reproduce the issue without the use of vscode aws toolkit? If this is a problem only when you use vscode aws toolkit then it would be an issue for another repo I guess

[2020-09-18 03:16] floydpink commented on #1614
I am seeing this exact same issue with sam v1.2.0 when running any command.

[code]

OS: macOS Catalina (10.15.6)

[code]

[code]

[code]

Can someone please provide any pointers on how I can resolve this?

[2020-09-18 14:58] dinkzilla commented on #2129
This is working for our Linux users, but Windows users on our team are still not able to deploy using SAM. Getting:
`Error: Failed to create managed resources: unable to locate credentials.`
aws-cli's were updated using the msi earlier today.

[2020-09-18 16:32] mikezang opened #2228 "Process Amazon S3 Events Example not show Trigger in Lambda function"
### Describe your idea/feature/enhancement

I tried [Process Amazon S3 Events](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-example-s3.html), after I run `sam deploy --template-file packaged.yaml --stack-name aws-sam-ocr --capabilities CAPABILITY_IAM`, I can upload a picture and found a record in dynamoDB.

You can there S3 event like this
![S3Event](ht

[2020-09-18 17:23] floydpink opened #2229 "macOS Catalina - 'sam' fails with "ImportError: cannot import name 'ssl' from 'urllib3.util.ssl_""
### Description

After upgrading to macOS Catalina recently, the `sam` command (with any subcommand/option) is failing with this error:

[code]

### Steps to reproduce

* Run `sam` command

I use `pyenv` to switch between different Python versions, HomeBrew to install aws-sam-cli and use `zsh`.

Here are some relevant version numbers:

OS: macOS Catalina (10.15.6)

[code]

[code]

[code]

### Obse

[2020-09-18 17:55] awsjeffg commented on #2197
@mndeveci is this a duplicate of #1213 ?

[2020-09-18 18:17] rts-rob opened #2230 "SAM guided deploy does not respect AWS Region set in config file"
### Description

Briefly describe the bug you are facing.

When using guided deploy with `sam deploy --guided`, AWS SAM CLI does not respect the AWS Region set in the config file. This requires the user to manually enter the Region on every first deploy, placing an unnecessary mental burden on the developer. This can result in the unintended deployment of applications to _us-east-1_. This creates

[2020-09-18 18:19] singledigit commented on #2230
+1

[2020-09-18 18:27] awsjeffg commented on #2140
@eliecer2000 can you please provide what your use case is, and what outcome you would like to see with this issue?

[2020-09-18 18:33] marekq opened #2231 "Feature Request: Add X-Ray support to Step Function State Machine"
Description:

AWS recently released X-Ray support for Step Functions; https://aws.amazon.com/blogs/compute/introducing-aws-x-ray-new-integration-with-aws-step-functions/

The feature can be configured through CloudFormation, but the TracingConfiguration option to configure tracing is not present in SAM yet. It would be great if we can also deploy this through SAM CLI.

CloudFormation docs; https:/

[2020-09-18 18:43] SergioFloresG commented on #1736
https://github.com/aws/aws-sam-cli/blob/0c77ad035ea6408e0fad778c0e1c55e4db0bff55/samcli/commands/local/cli_common/invoke_context.py#L189

[code]

[2020-09-18 20:28] awsjeffg commented on #2230
The [docs](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html) don't explicitly cover what should happen here, what they do say instead is:

I think I agree, it seems reasonable that if a customer has set a default region via aws cli it would follow that SAM would try to discover and honor that intent. I'll dig a bit further and see what t

[2020-09-18 20:41] awsjeffg commented on #1773
I think this could be a great optional feature, perhaps enabled with an additional flag perhaps `--timestamp-output` or something better?

[2020-09-18 20:53] th3g3ntl3men commented on #2197
@awsjeffg it doesn't look like it at initial glance, he is talking about the URL of nested template, and how they templates are handled separately. This is focused on the parsing and handling of a AWS::Serverless::Function Layer property and how the cli only allows a ARN string and a !Ref to a layer definition.

[2020-09-18 21:43] yogeshlokare12 commented on #959
Please add the project location/path in Resources -> File Sharing
![image](https://user-images.githubusercontent.com/69115374/93647441-47629680-f9bd-11ea-82ad-d8945db770b0.png)

[2020-09-18 22:08] CoshUS commented on #2231
This integration is supported in our new [SAM release](https://github.com/aws/serverless-application-model/releases/tag/v1.27.0) and is in our SAM CLI roadmap for a future release.

[2020-09-18 22:11] CoshUS commented on #2228
@mikezang Can you post your template so we can investigate further into this issue?

[2020-09-18 22:16] CoshUS commented on #2219
@naddika Can you post the link to the demo repo and the output from `sam deploy`?

[2020-09-18 22:19] CoshUS commented on #2223
@kaihendry Can you post your docker version?

[2020-09-18 22:28] CoshUS commented on #2229
This seems like an issue with SSL and Catalina. [Related link](https://discuss.streamlit.io/t/importerror-cannot-import-name-ssl-from-urllib3-util-ssl-usr-local-lib-python3-7-site-packages-urllib3-util-ssl-py/4139).

[2020-09-18 22:33] CoshUS commented on #2202
@destinyb-realityi Can you try using the latest SAM CLI version(1.2.0) and check whether this issue still exists?

[2020-09-18 22:37] stevenlafl commented on #896
+1

[2020-09-18 22:48] CoshUS commented on #539
Tracking in https://github.com/aws/aws-sam-cli/issues/2137 as a bug.

[2020-09-18 22:48] #539 closed

[2020-09-18 22:56] CoshUS commented on #956
@podger Have you tried using [VSCode AWS Toolkit](https://docs.aws.amazon.com/toolkit-for-vscode/latest/userguide/welcome.html) for debugging? The plugin might resolve your issue.

[2020-09-18 23:02] CoshUS commented on #1183
Closing. Feel free to reopen if the issue still exists.

[2020-09-18 23:02] #1183 closed

[2020-09-19 01:03] mikezang commented on #2228
@CoshUS Here is my template file

Transform: 'AWS::Serverless-2016-10-31'
Description: SAM app that uses Rekognition APIs to detect text in S3 Objects and stores labels in DynamoDB.
Resources:
　DetectTextInImage:
　　Type: 'AWS::Serverless::Function'
　　Properties:
　　　Handler: src/app.lambda_handler
　　　Runtime: python3.8
　　　CodeUri: .
　　　Description: Uses Rekognition APIs to detect text in S3 Objects

[2020-09-19 03:09] lbassin commented on #510
Even though running start-api in the host network works as a workaround it would be great to have this feature directly in the CLI, is there any update on the subject?

[2020-09-19 13:51] eliecer2000 commented on #2140
Greetings, I explain the complete scenario, I develop applications based on the AWS serverless infrastructure, then I code all my components in a sam template, when I deliver it to the person who hires me, he must deploy it to the final client in your AWS account, then when you deliver that sam template it already contains a ready samconfig.toml file without the s3-bucket since it is typical of ea

[2020-09-19 18:33] marekq commented on #2231
Amazing, thanks for the quick response!

[2020-09-19 18:33] #2231 closed

[2020-09-20 02:10] robertsosinski opened #2233 "Unable to define IAM Authorizer for HttpApi"
### Description

I would like to define an `AWS_IAM` Authorizer on an `HttpApi` Integration for a `AWS::Serverless::Function` in the Event Source.  I currently have this:

[code]

My HttpApi Gateway definition looks like this:

[code]

I've also tried IAM, and "IAM (built-in)".  The error I always get is ` Unable to set Authorizer [IAM] on API method [any] for path [/v1/{proxy+}] because the relat

[2020-09-20 03:57] #2219 closed

[2020-09-21 04:30] kaihendry commented on #2223
1:19.03.12-2 as packaged in Arch.

Are you not able to reproduce?

[2020-09-21 06:30] brainstorm commented on #2217
Seems to be failing with [miniconda](https://docs.conda.io/en/latest/miniconda.html) python environments too:

[code]

[2020-09-21 06:45] brainstorm commented on #2217
Actually, sorry, none of the python venvs matter because the python interpreter sh-bang is hardcoded to linuxbrew:

[code]

[2020-09-21 18:00] brysontyrrell opened #2235 "Update AWS::Serverless:StateMachine to support Tracing config and an option to disable template validation"
### Describe your idea/feature/enhancement

SAM has added support for the `Tracing` config of a Step Function, but (as of 1.2) the SAM CLI will throw a validation error because it does not recognize the new property.

[code]

SAM release: https://github.com/aws/serverless-application-model/releases/tag/v1.27.0

### Proposal

In addition to supporting the new property, it would be beneficial to hav

[2020-09-21 19:18] ryan-mars commented on #1896
Does anyone have a manual workaround for this at the moment?

[2020-09-22 00:53] mndeveci commented on #2197
@awsjeffg looks like it is.

@th3g3ntl3men AWS SAM CLI doesn't build nested stacks recursively. Instead you need to provide template location from the build directory for child stacks. I think what happens with your example is that, your parameter is not passed into the second template, therefore it is generating this error message.

In order to use nested stacks, you need to have a child stack, w

[2020-09-22 02:05] farzad-learning commented on #1932
In my case was set the file `.aws/config` to
[default]
region = ap-southeast-2
and then `sam validate` worked

[2020-09-22 02:41] stlimtat opened #2237 "HttpApiStage | CREATE_FAILED | Internal Failure"
### Describe your idea/feature/enhancement

When running `sam deploy` with the following configuration
[code]
I get stuck in

[code]

Any idea what is causing this since internal failure is too vague for me.

### Proposal

Add details of how to add this to the product.

Things to consider:
1. Will this require any updates to the [SAM Spec](https://github.com/awslabs/serverless-application-model)

[2020-09-22 06:01] mikezang opened #2238 "Outputs to show API endpoints"
### Describe your idea/feature/enhancement
I use `aws-cli/2.0.5 Python/3.7.5 Windows/7 botocore/2.0.0dev9` with `SAM CLI, version 1.2.0`, when I defined as below:

　ApiUrl:
   　　Description: "API Gateway endpoint URL for stag stage"
　　　Value:
　　　　Fn::Sub: https://${Api}.execute-api.${AWS::Region}.amazonaws.com/${EnvType}

I got Outputs as below:

Description　 API Gateway endpoint URL for stag stag

[2020-09-22 09:36] steveunixson opened #2239 "sam package is not building template correctly"
### Description

template generated by sam package is invalid on Ubuntu 18.04

### Steps to reproduce

1. Use ubuntu 18.04
2. Install aws-sam-cli using pip
3. `sam package --s3-bucket bucket-name --output-template-file template-s3.yaml --profile profile-name`

### Observed result

template-s3.yaml

Resources:
  Function:
    Type: AWS::Serverless::Function
    Properties:
      Handler: index.hand

[2020-09-22 23:29] hawflau commented on #2239
Hi @steveunixson, can you also provide the template that was used as the input?

[2020-09-23 02:12] eshinn commented on #1932
SAM CLI version `1.2.0`

First error in the output for me was on line 33 instead of 11 as stated in OPs post.

Can confirm the region not being set was also my issue. Also, I keep multiple profiles on my box.

What does NOT work is setting `export AWS_REGION=<your region>` even after running `export AWS_PROFILE=<your profile>`

How to fix w/ multiple profiles...
In `~/.aws/config`:
[code]
In `~/.a

[2020-09-23 03:05] PierreKiwi commented on #1069
So @jfuss, if my understanding is correct, you are saying that we can't use `AWS::SSM::Parameter::Value<String>` to specify the ARN of a Lambda Layer when using SAM?

My ARNs are saved in SSM because my layers do not have the save versioning for all the regions so I can't use the ARN directly.

Why does SAM not interpolate the parameters like CloudFormation does? I thought SAM was a wrapper around

[2020-09-23 10:39] mikezang opened #2243 "Can I only deploy Lambda function source with duplication?"
### Describe your idea/feature/enhancement

When I create Lambda function on AWS console, one function with one file as below:
![LambdaFunctionSingle](https://user-images.githubusercontent.com/1030268/94001945-31e1d800-fdd4-11ea-99e2-f2ba43109596.jpg)

But when I use SAM deploy, I defined four functions, but all source files are copied into these four functions, like this:
![LambdaFunction](https:

[2020-09-23 14:01] destinyb-realityi commented on #2202
Hi @CoshUS, I'm having the same issue with 1.2.0

[2020-09-23 17:24] hawflau commented on #2243
It looks like there are two issues here:
1. The deployed Lambda function contains files like `EventS3.json` or `samconfig.toml`, which I believe are not needed for your lambda function to work.
2. Your question - May I only upload function source itself without other function's source?

For the first one, you can update the `CodeUri` under your function definition in the SAM template to point to t

[2020-09-23 17:24] #2243 closed

[2020-09-23 17:29] brysontyrrell commented on #2235
@mingkun2020 the issue with tracing for Step Functions is resolved with bumping the SAM translator to 1.27.0.

[2020-09-23 17:38] awsjeffg commented on #1615
This feature has now been released. Apologies, the SAM cli docs will not be available for this new functionality until tomorrow ( 9/24 ).

[2020-09-23 17:38] #1615 closed

[2020-09-24 01:35] mikezang commented on #2243
Thanks for your suggestion, I got what I need.

[2020-09-24 01:47] PierreKiwi commented on #1736
I have "fixed" this issue by using Mapping but it will be way more elegant to solve this problem by either interpolating `!Sub`:

[code]

Also frustrating that SAM does not support passing the Lambda Layer ARN via a `AWS::SSM::Parameter::Value<String>` parameter (which is even better I think).

[2020-09-24 08:12] tljdebrouwer opened #2247 "Brew install/upgrade currently broken for aws-sam-cli (1.3.1)"
### Description

Brew upgrade doesn't work for aws-sam-cli

### Steps to reproduce

Use brew upgrade aws-sam-cli

### Observed result

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "aws-sam-cli"
Download failed: https://api.github.com/repos/aws/aws-sam-cli/tarball/v1.3.1

### Expected result

AWS SAM CLI is ssuccesfull  upgraded

### Additional envir

[2020-09-24 08:39] gautierdag commented on #2247
I have the same problem with the install command `brew install aws-sam-cli`.

Which also points to `https://api.github.com/repos/aws/aws-sam-cli/tarball/v1.3.1` and to `https://github.com/aws/aws-sam-cli/releases/download/v1.3.1//aws-sam-cli-1.3.1.sierra.bottle.tar.gz` which both seem to be broken:

[code]

[2020-09-24 08:44] tljdebrouwer commented on #2247
I did work around this to modify the /usr/local/Homebrew/Library/Taps/aws/homebrew-tap/bottle-configs/aws-sam-cli.json to point to v1.3.0 and run ```HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade aws-sam-cli```

[2020-09-24 09:13] arnelenero commented on #2247
This is a good workaround for now. Just need to modify the SHA value as well. Thanks.

[2020-09-24 09:21] gautierdag commented on #2247
Nice! Can confirm this workaround works for the install as well.

For those not wanting to wait for the official fix:

You can replace `/usr/local/Homebrew/Library/Taps/aws/homebrew-tap/bottle-configs/aws-sam-cli.json` with:
[code]
And run `HOMEBREW_NO_AUTO_UPDATE=1 brew install aws-sam-cli`

Not sure if HOMEBREW_NO_AUTO_UPDATE is actually needed ..  and obviously run this all at your own risk.

[2020-09-24 11:57] aashutoshbane commented on #1987
`Admin@Admin:~$ brew install aws-sam-cli
==> Installing aws-sam-cli from aws/tap
==> Downloading https://github.com/aws/aws-sam-cli/releases/download/v1.3.1//aws-sam-cli-1.3.1.x86_64_linux.bottle.tar.gz

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "aws-sam-cli"
Download failed: https://github.com/aws/aws-sam-cli/releases/download/v1.3.1//aws-sam-cl

[2020-09-24 12:14] aashutoshbane opened #2248 "aws-sam-cli installing error via Homebrew"
The resources which are required while installing aws-sam-cli through aws/tap are not available

[code]

[2020-09-24 12:15] superwoou commented on #2248
same here :(

[2020-09-24 12:17] superwoou commented on #2247
I did install without HOMEBREW_NO_AUTO_UPDATE=1 and it worked!

I did install without HOMEBREW_NO_AUTO_UPDATE=1 and it worked!

[2020-09-24 12:22] svenzon commented on #1987
I'm currently trying to install aws-sam-cli, but I keep this error. This is on MacOS Catalina.

[code]

[2020-09-24 12:29] bonovoxly commented on #1987
Hit this as well.

[2020-09-24 12:50] linghuiluo commented on #1987
me too

[2020-09-24 12:54] benkehoe opened #2249 "Support for StackSet resources"
CloudFormation now has an [AWS::CloudFormation::StackSet](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cloudformation-stackset.html) resource. The SAM CLI should add local path support for the `TemplateURL` parameter, allowing the template for a StackSet to be defined in a separate file, and doing the normal upload-to-S3-and-insert-URL packaging process.

[2020-09-24 13:13] khoyee commented on #1987
This issue is now closed.
I think we should follow this one instead:
https://github.com/aws/aws-sam-cli/issues/2247

[2020-09-24 14:22] aashutoshbane commented on #2248
Thanks @superwoou that work for me :)

[2020-09-24 14:27] mingkun2020 commented on #2248
Hi @aashutoshbane and @superwoou ,

Thanks for reporting this issue, we were in middle of our release when we ran into another issue. We have rolled back to sam cli v1.3.0 and fixed brew tap for now. Feel free to reopen it if this happens again.

[2020-09-24 14:27] #2248 closed

[2020-09-24 14:37] mingkun2020 commented on #2247
Hi @tljdebrouwer , @gautierdag, @arnelenero and @superwoou ,

Thanks for reporting this issue, we were in middle of our release when we ran into another issue. We have rolled back to sam cli v1.3.0 and fixed brew tap for now. Feel free to reopen it if this happens again.

[2020-09-24 14:37] #2247 closed

[2020-09-24 14:57] tmack8001 commented on #1105
having an option like `--skip-build-tests` or similar that would pass to the build tool (in this case maven `-DskipTests` would be nice to speed up trial development and debugging for projects with lots of included tests.

[2020-09-24 17:58] abrooksv opened #2250 "New versions of SAM should clean up old docker images"
### Description
Now that a rapid layer is built and version specific, old versions should be cleaned up.

### Steps to reproduce
Upgrade and run a local invoke

### Observed result

[code]

[2020-09-24 18:25] #2235 closed

[2020-09-24 18:36] mndeveci commented on #2154
Sorry to hear that @heffergm, please fell free to re-open this one or create a new issue if you can identify the example for layers.

[2020-09-24 18:36] #2154 closed

[2020-09-24 20:25] awood45 commented on #2143
This is now fixed. You do not need to upgrade the AWS SAM CLI to see the changes reflected, but you may need to delete your older images. This impacted:

- Python 2.7
- Python 3.6
- Java 8 (not Java 8 AL2)
- .NET Core 2.1
- .NET Core 3.1
- Go 1.x

If you clean up the associated Docker images and rerun `sam local invoke` you should immediately see this behavior working properly. Please feel free to

[2020-09-24 20:25] #2143 closed

[2020-09-24 20:27] awood45 commented on #2250
This came from a conversation I had with Austin. An additional facet to this is that these image tags sometimes mask updates to the underlying emulation image. A feature request could also be for us to occasionally detect and help force updates when `--skip-pull-image` is not set.

[2020-09-24 21:25] #2199 closed

[2020-09-24 21:25] #2118 closed

[2020-09-24 21:31] #402 closed

[2020-09-24 21:33] morefaey commented on #1159
@ms-clovis if you still have this issue, please reopen. it should not be relevant to the current version of sam cli

[2020-09-24 21:33] #1159 closed

[2020-09-24 21:35] morefaey commented on #182
@jhovell please reopen this if you still think it is needed.

[2020-09-24 21:35] #182 closed

[2020-09-24 21:36] #523 closed

[2020-09-24 21:39] morefaey commented on #1423
@diegotony do you still face this issue? if yes, please reopen

[2020-09-24 21:39] #1423 closed

[2020-09-24 21:39] #744 closed

[2020-09-24 21:41] #984 closed

[2020-09-24 21:43] morefaey commented on #676
@medinarrior this should not be relevant to the current version of sam cli. if you think it is not the case, please reopen.

[2020-09-24 21:43] #676 closed

[2020-09-24 22:45] awsjeffg opened #2252 "SAM build should validate that layers exist"
### Describe your idea/feature/enhancement

If I specify a layer in my template pointing to a local zip file and that file does not exist, I should get the warning from sam build instead of running into it later in sam local invoke or sam deploy.

[2020-09-25 11:40] mikezang commented on #2228
Is this bug?

[2020-09-25 14:17] asyba commented on #2143
@awood45 how this has been fixed? without doing a new aws sam cli version?

[2020-09-25 17:07] th3g3ntl3men commented on #2197
@mndeveci I use a tool called Stackery that manages the packaging and building of the templates correctly using AWS-SAM-CLI.

The issue isn't with building of template.

[code]

it's specifically the line above. This does not build because aws-sam-cli doesn't allow a !Sub in layers. I am wanting to expand the functionality to allow it.

[2020-09-25 20:01] benkehoe opened #2253 "Parameter overrides as a first class section in samconfig.toml"
The `parameter_overrides` field in `[default.deploy.parameters]` consists of space-separated `Key=Value` pairs. While [toml supports multiline strings](https://toml.io/en/v1.0.0-rc.2#string), it causes an error because it does not process newlines as whitespace. Fixing that would be an improvement, but what I'd really prefer is that these key-value pairs get their own proper section. Say my `samco

[2020-09-25 21:48] awsjeffg commented on #174
@timoschilling I am currently reviewing older issues that are still open. I am closing this issue for now because we have implemented SAM support for Step Functions ( SFn ) but we have no plans currently to support a local emulation for SFn in the way I think you are asking.

If you feel strongly regarding local emulation of some sort, please file another issue and mention me, and I will be happy

[2020-09-25 21:48] #174 closed

[2020-09-25 22:52] mingkun2020 commented on #868
@kappaj2 Closing this issue since inactive for a long time. If you encounter this issue anymore, feel free to reopen it.

[2020-09-25 22:52] #868 closed

[2020-09-25 22:53] mingkun2020 commented on #1172
@Rubiedo Closing this issue since inactive for a long time. If you encounter this issue anymore, feel free to reopen it.

[2020-09-25 22:53] #1172 closed

[2020-09-25 23:01] #709 closed

[2020-09-25 23:06] #1866 closed

[2020-09-26 18:02] forgivegod commented on #2238
See https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/outputs-section-structure.html

[2020-09-26 18:03] forgivegod commented on #2220
Try running `sam build`

[2020-09-26 22:52] metaskills opened #2254 "Build Images (ECR/Docker) Format & Resources Included"
During the 1.0 release I noticed the local invoke (and start api) as well as the build images were moved from Michael's `lambci/lambda:build-${runtime}` Docker images to ones located at `amazon/aws-sam-cli-build-image-${runtime}`. One difference I noticed is that these new images lack the AWS SDK installed as a global package. I found this high level tools useful for abstract tooling around the de

[2020-09-26 23:19] mikezang commented on #2238
I read it but I still don’t know how to do it, can you show me a example here?

[2020-09-27 19:58] diegogurpegui commented on #2253
I like this idea.

It could also solve the current problem that we cannot have some default parameters to override in the toml file, and override some others from the command line. If you use "parameter-overrides" in the command line, it completely discards the ones in the toml file because the entire argument "paramter-overrides" gets replaced (that's what I saw).
This is useful when you have som

[2020-09-27 20:01] misterjoshua opened #2255 "Keep a public archive of old `amazon/aws-sam-cli-build-image-*` on Docker Hub"
### Describe your idea/feature/enhancement

Is this the project that produces `amazon/aws-sam-cli-build-image-*` images on Docker Hub?

I wish that the project kept a public Docker Hub archive of previously built and released images. As it stands, there is only a `latest` tag available in the [python 3.7 tag list](https://hub.docker.com/r/amazon/aws-sam-cli-build-image-python3.7/tags). I wish that

[2020-09-27 21:43] kastork commented on #1193
Here's an example trace running local (1.3.2)

[code]

Please notice the application is returning the correct JSON.

[code]

But gateway is seeing something else

[code]

This leads to an HTTP response of BAD GATEWAY.

Now this exact same code is deployed to api-gateway, and the response is correct

[code]

Cloud watch logs don't show what lambda sends to gateway, but here's the comparable log out

[2020-09-28 01:10] Fingalzzz commented on #1424
+1 for this one. Waiting for an update or an ETA.

[2020-09-28 01:38] ragasivasankar opened #2256 "Unable to install the msodbcsql17 , mssql-tools"
### Description
I am trying to install the msodbcsql ,mssql-tools to connect to mssql using sam build. it throws the exception.  Could not satisfy the requriment: msodbcsql

Briefly describe the bug you are facing.

### Steps to reproduce
1.In the requirments.txt for add the msobdcsql17 file.
2. run the sam build

Provide steps to replicate.

### Observed result

Please provide command output with

[2020-09-28 06:51] sky-lord1 opened #2257 "OSError: [Errno 36] File name too long"
OSError: [Errno 36] File name too long

### Description

Not able to download and call the layer locally.

### Steps to reproduce
sam local start-api --docker-network host --profile myprofile --force-image-build

### Observed result

Downloading arn:aws:lambda:us-west-1:xx:layer:xx  [####################################]  11586500/11586500
2020-09-28 12:02:02 Exception on /chat/get-contacts [POST]

[2020-09-28 06:52] jaridspokes commented on #2054
I've used the above workaround for now, but it would be great to get some consistency with cloudformation in this regard.

[2020-09-28 12:51] benkehoe commented on #2253
That is an excellent point!

[2020-09-28 13:25] twasink opened #2258 "Use the default profile for default values with custom config-env"
### Describe your idea/feature/enhancement

I would like to be able to specify multiple `env` profiles in my `samconfig.toml`, and share common settings via the `default` profile.

As an example of what I would like to do:

[code]

Currently, the selected profile needs to have all of the parameters provided, which will lead to extensive duplication with a large number of profiles.

### Proposal

O

[2020-09-28 13:28] twasink commented on #2258
If combined with #2253 , this would also allow for the `default` profile to set common or default values for parameters, with environments only needing to override the ones that they specifically care about.

[2020-09-28 16:44] diegogurpegui commented on #2258
The simple approach would be to always take the "default" env as the default one, which is ok for me.

However, a more complex and versatile approach would be to have the ability to indicate the "parent" environment, from which take the defaults configuration.

However, at this point, the simple approach is more than enough I think.

[2020-09-29 16:51] awood45 commented on #2143
The Docker images themselves have been updated, which all versions from `1.0.0` onwards will pull down.

[2020-09-29 19:49] shaykeren opened #2259 "redundant role created"
### Description

Redundant role created when using sam deploy.
My sam template has serverless function which enable gradual Lambda, using DeploymentPreference.
I set the Role property with a predefined  Role Arn.
In the documentation it says that "An IAM role will not be created if this is provided"
[reference](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-prop

[2020-09-29 20:31] nshirley commented on #1843
I know this is a bit old but for those who find it - I was having a similar issue with sam not picking up cached sso creds. Turns out I was on version `1.0`, after a quick update to `1.3.2`. Not sure what version fixed it but, now all my commands are working and even the above use case with a local invoke that requests a resource from the cloud.

[2020-09-29 20:39] sriram-mv commented on #1843
Resolving this issue as latest release has the supported boto3 versions.

[2020-09-29 20:39] #1843 closed

[2020-09-29 20:43] sriram-mv commented on #2238
These are outputs that are defined in your template file, you can create outputs as you require them to be in the template. SAM CLI only looks at outputs within the template file and showcases them. It does not have any logic to reconstruct outputs based on the content of the template itself.

[2020-09-29 20:43] #2238 closed

[2020-09-29 20:45] sriram-mv commented on #2237
Does turning on fail on warnings give you more information? I see you have it commented out.

[2020-09-29 20:49] sriram-mv commented on #2220
Closing this issue, feel free to re-open it if you are able to continue to reproduce it.

[2020-09-29 20:49] #2220 closed

[2020-09-29 20:51] awood45 commented on #2254
Can you tell me a bit more about how they're used? We definitely can add the SDKs (the build image source is in this repo and we'll even take PRs on them) to the build images, just want to understand the use case to make sure we can test it.

[2020-09-29 21:58] sriram-mv commented on #2239
@steveunixson I'm not sure what you mean, sam package will change properties such that those artifacts referenced by them have now been uploaded to s3. It does give back a valid sam template. I'm not sure what you mean here.

I'm closing this issue, but feel free to re-open it if you feel there's something not right.

[2020-09-29 21:58] #2239 closed

[2020-09-30 01:25] sriram-mv commented on #1845
Closing this issue, please re-open if this still an issue.

[2020-09-30 01:25] #1845 closed

[2020-09-30 01:35] sriram-mv commented on #1951
@mobermeier15 I'm closing this issue, Please re-open if you still see this issue.

[2020-09-30 01:35] #1951 closed

[2020-09-30 09:45] smpavlenko opened #2260 "Failed to install AWS-SAM-CLI on a Amazon Ubuntu instance"
### Description
Failure to install AWS-SAM-CLI on a Amazon Ubuntu instance (us-east-1).

[code]

### Steps to reproduce
Followed https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-install-linux.html

1. Installed Homebrew
[code]

2. Installed AWS SAM CLI
[code]

3. Check version
[code]

4. Install SAM CLI second time
[code]

5. Check version
[code]

#

[2020-09-30 12:04] SurrealTiggi opened #2261 "Unable to deploy successfully when using S3 access point"
## Description

Not sure if this a bug per se, or just a lacking feature due to CloudFormation limitations. Basically, I use sam to deploy resources to multiple AWS accounts, but was wondering if a central S3 bucket can be used for artifacts.
SAM itself logs an expected regex to `--s3-bucket` that seems to support S3 access points.

### Steps to reproduce

* Create a simply sam template
* Configur

[2020-09-30 13:26] abelperezok opened #2262 "sam build dotnet core sends normal output to STDERR"
### Description

When running sam build on a dotnet core lambda project, most of the output is sent to STDERR as opposed to STDOUT. This can be particularly confusing when running this command as part of a CI pipeline such as Azure DevOps as it can fail the step for no good reason.

### Steps to reproduce

Run sam build and at glance all the output seems ok, but it's sending a big chunk of output

[2020-09-30 14:32] willfish commented on #2144
@awsjeffg What's the pm-review process? Looking at the container/CLI implementation it seems like this is pretty straightforward to achieve from a code perspective?

[2020-09-30 15:52] kastork commented on #1193
@jfuss

Looking at the object returned by the serverless java container (`AwsProxyResponse`), the properties are correct.

[code]

So I think upstream is not responsible for this.

In my comments above I serialized this object with Jackson, and as you can see, the serialization also results in `isBase64Encoded`.

In your comment above where you say "SAM CLI only serialize the output of the contain